<div id="container">
      <div
        class="css-xt2tge css-50jkpj css-rn2hh9"
        data-page-overflowx="hidden"
        data-breakpoint-id="node-1_15239"
        data-breakpoint="true"
        data-width="1440"
        data-height="1687.82409667969"
      >
        <div class="css-t4mclh css-roiesn" data-isimage="true">
          <img
            src="https://capturecaribbean.figma.site/_assets/v11/838113b75a7691a45da40d9fe8a4b2ab4cbb5aa1.svg"
            alt=""
            class="css-tzn6qh css-ez8men"
          />
        </div>
        <div class="css-bvmtjk css-avx5lt css-2gbjjk">
          <div aria-hidden="true" class="css-trglf0 css-r0azwh">
            <div class="css-phc9f9 css-trglf0">
              <img
                alt=""
                class="css-trglf0 css-6uap33"
                src="https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png"
                srcset="
                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png        4096w,
                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png?w=512   512w,
                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png?w=1024 1024w,
                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png?w=1536 1536w,
                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png?w=2048 2048w,
                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png?w=2560 2560w,
                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png?w=3072 3072w,
                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png?w=3584 3584w,
                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png?w=4096 4096w
                "
                sizes="100vw"
              />
            </div>
            <div class="css-c05hze css-trglf0 css-r0azwh"></div>
          </div>
          <app-navbar [wrapperClass]="'css-vhq6dg css-8hhw9a css-trglf0'" />
          <p class="css-nf5ac4 css-h0m53i css-809ag0 css-budxnk textContents">
            Saint Lucia Exhibition 2033
          </p>
          <p class="css-wc1msa css-809ag0 css-72kw6x textContents">
            <span class="css-hgjyh3">Where stories c</span
            ><span class="css-hgjyh3 css-xwwrem">ome alive</span>
          </p>
        </div>
        <div class="css-x2dsbn css-v27th6 css-paq0kv">
          <div class="css-dczajm css-v27th6 css-paq0kv">
            <div class="css-wa7m9p css-jvpnk3 css-paq0kv">
              <div class="css-df2ay8 css-a8ck2f css-paq0kv">
                <p
                  class="css-nf5ac4 css-v27th6 css-b8mt39 css-6vp3ws textContents"
                >
                  The Saint Lucia Exhibition (2033)
                </p>
                <div class="css-zfhta1 css-v27th6 css-paq0kv">
                  <p
                    class="css-nf5ac4 css-v27th6 css-cloobj css-yjj0pe textContents"
                  >
                    This inaugural exhibition is more than a showcase of
                    photographs — it is an invitation to experience the soul of
                    Saint Lucia. From its lush peaks and vibrant communities to
                    its deep cultural heritage and living traditions, the
                    exhibition will reveal the island not just as a destination,
                    but as a living story told through the eyes of those who
                    have captured its light, legacy, and landscape.
                  </p>
                  <p
                    class="css-nf5ac4 css-v27th6 css-cloobj css-yjj0pe textContents"
                  >
                    Beginning in Saint Lucia, the exhibition will travel to
                    major cities across the globe in 2034 and beyond, inviting
                    international audiences to step into the heart of the
                    Caribbean. Through this global journey, Saint Lucia’s story
                    will resonate far beyond its shores, connecting cultures and
                    inspiring new ways of seeing, feeling, and understanding the
                    Caribbean.
                  </p>
                </div>
              </div>
              <div class="css-uqca8x css-k36fk4">
                <div
                  aria-hidden="true"
                  class="css-trglf0 css-r0azwh css-t2nusi"
                >
                  <img
                    alt=""
                    class="css-ez8men css-8vcrb2 css-qhd53h"
                    src="https://capturecaribbean.figma.site/_assets/v11/7f12ea1300756f144a0fb5daaf68dbfc01103a46.png"
                    srcset="
                      https://capturecaribbean.figma.site/_assets/v11/7f12ea1300756f144a0fb5daaf68dbfc01103a46.png 256w
                    "
                    sizes="442.5px"
                  /><img
                    alt=""
                    class="css-ez8men css-8vcrb2 css-qhd53h"
                    src="https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png"
                    srcset="
                      https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png        1500w,
                      https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png?w=512   512w,
                      https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png?w=1024 1024w
                    "
                    sizes="442.5px"
                  /><img
                    alt=""
                    class="css-ez8men css-8vcrb2 css-qhd53h"
                    src="https://capturecaribbean.figma.site/_assets/v11/efcdd11dfba66bc7e59d06f6e55ca749a3ef24d2.png"
                    srcset="
                      https://capturecaribbean.figma.site/_assets/v11/efcdd11dfba66bc7e59d06f6e55ca749a3ef24d2.png        4032w,
                      https://capturecaribbean.figma.site/_assets/v11/efcdd11dfba66bc7e59d06f6e55ca749a3ef24d2.png?w=512   512w,
                      https://capturecaribbean.figma.site/_assets/v11/efcdd11dfba66bc7e59d06f6e55ca749a3ef24d2.png?w=1024 1024w
                    "
                    sizes="442.5px"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="css-dczajm css-v27th6 css-paq0kv">
            <div class="exhibition-global-mobile-wrapper">
              <img
                alt=""
                loading="lazy"
                class="exhibition-global-mobile-img"
                src="https://capturecaribbean.figma.site/_assets/v11/efcdd11dfba66bc7e59d06f6e55ca749a3ef24d2.png"
              />
            </div>
            <div class="css-wa9j8a css-jvpnk3 css-paq0kv">
              <div class="css-df2ay8 css-a8ck2f css-paq0kv">
                <p
                  class="css-wc1msa css-59rdls css-r1rse1 css-6vp3ws textContents"
                >
                  <span class="css-5s2c9z">Global Visions of</span
                  ><span class="css-jmgc7t">&nbsp;</span
                  ><span class="css-nr0367">Saint Lucia</span>
                </p>
                <div class="css-eweg7q css-zfhta1 css-paq0kv">
                  <p
                    class="css-nf5ac4 css-lz83fy css-cloobj css-yjj0pe textContents"
                  >
                    The Capture Saint Lucia Exhibition Tour launches in 2033 on
                    the island where the journey began — Saint Lucia. Featuring
                    the work of invited photo and video artists from around the
                    world, the tour will celebrate the island’s majesty through
                    a curated showcase of imagery, storytelling, and immersive
                    experiences.<br aria-hidden="true" /><br
                      aria-hidden="true"
                    />
                  </p>
                  <p
                    class="css-nf5ac4 css-v27th6 css-cloobj css-yjj0pe textContents"
                  >
                    Starting in Saint Lucia, the exhibition will travel to major
                    cities across the globe in 2034 and beyond — inviting
                    international audiences to discover Saint Lucia’s soul
                    through the eyes of diverse creatives who were called to
                    capture its light, legacy, and landscape.
                  </p>
                </div>
                <a
                  class="textContents css-wc1msa css-wwcuav css-ksk7p6"
                  routerLink="/global-tour"
                  target="_self"
                  ><p class="css-8zr56v css-jpsr3q css-pej95u">
                    Capture Saint Lucia International Tour
                  </p></a
                >
                <div class="exhibition-global-mobile-wrapper exhibition-global-mobile-wrapper--bottom">
                  <img
                    alt=""
                    loading="lazy"
                    class="exhibition-global-mobile-img"
                    src="https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png"
                  />
                </div>
              </div>
              <div class="css-7xxsqh css-k36fk4 exhibition-global-desktop-wrapper">
                <img
                  alt=""
                  loading="lazy"
                  class="css-ez8men css-qhd53h css-trglf0 css-trglf0 css-r0azwh css-qhd53h css-t2nusi exhibition-global-desktop-img"
                  src="https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png"
                  srcset="
                    https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png        1500w,
                    https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png?w=512   512w,
                    https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png?w=1024 1024w
                  "
                  sizes="auto,438.75px"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="css-5knerd css-v27th6 css-sfem9u">
          <div class="css-gxdil1 css-e1d1o2 css-j9f0op">
            <div class="css-p70z91 css-paq0kv css-v27th6">
              <div class="css-ra9f2e css-jvpnk3 css-paq0kv">
                <div class="css-49kvq1 css-paq0kv">
                  <a
                    class="css-khrh60 css-wc1msa css-134pm3"
                    routerLink="/"
                    target="_self"
                    ><div
                      class="css-phc9f9 css-trglf0 css-trglf0 css-r0azwh"
                    >
                      <img
                        alt=""
                        loading="lazy"
                        class="css-trglf0 css-js0xyv"
                        src="https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png       1655w,
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png?w=322  322w,
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png?w=643  643w
                        "
                        sizes="auto,251.33215623111008px"
                      /></div
                  ></a>
                  <p class="footer-bonus-copy">
                    Share with Friends for Bonus Entries!
                  </p>
                  <div class="css-7xhp8u css-nertwn css-paq0kv">
                    <a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://x.com/takecaribphotos"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/b2074916c4b3fb08fdb1513db29f423f555a529e.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.facebook.com/caribbeanphotocontest"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/6cfbca3ae939308c21eba8d2209aba2c9cadf9c1.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.instagram.com/caribbean_photo_contest/"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/914c9e68c89e91e97e44705afe83598089682c14.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.youtube.com/@CaribbeanPhotoContest"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/8bb5dbe313965b16558257ea276738547f01e5b3.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                    /></a>
                  </div>
                </div>
                <div class="css-pr5rfd css-paq0kv">
                  <p class="css-nf5ac4 css-2rawmj css-szvueg textContents">
                    Capture Initiatives
                  </p>
                  <div class="css-eyahki css-paq0kv">
                    <a
                      class="css-95o4tl css-wc1msa css-134pm3"
                      routerLink="/first-wave-challenge"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/a09c292d8df41590b68575ee1c83dd84ed673f43.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-3zz5a0 css-wc1msa css-134pm3"
                      routerLink="/contest"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/782bc67995f21e42c44ea577c99e43b41ad4bd3a.png"
                        alt=""
                        width="65.021"
                        height="52.601"
                        class="css-tzn6qh css-ez8men"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/782bc67995f21e42c44ea577c99e43b41ad4bd3a.png 66w
                        "
                        sizes="auto,65.02027702331543px" /></a
                    ><a
                      class="css-q7nfxi css-wc1msa css-134pm3"
                      routerLink="/caribbean-connections"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/c1f905b2220b94e506a75024168eaad79cee0364.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                    /></a>
                  </div>
                </div>
                <div class="css-dczajm css-paq0kv">
                  <div class="css-h5oqay css-3vj1k">
                    <div class="css-8byg4f css-paq0kv">
                      <a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/saint-lucia"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          The Capture Saint Lucia™ Invitational
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/residency"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          Artist in Residency Program
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/exhibition"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          The Saint Lucia Exhibition
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/global-tour"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          The Global Tour
                        </p></a
                      >
                    </div>
                    <div class="css-8byg4f css-paq0kv">
                      <a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/about-us"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">The Vision</p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/contact"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">Contact</p></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="css-ra9f2e css-djsg1y css-paq0kv">
                <div class="css-ogcvv7 css-wc1msa" data-isimage="true">
                  <div class="css-trglf0 css-3bt97v">
                    <img
                      loading="lazy"
                      src="https://capturecaribbean.figma.site/_assets/v11/8c2c2d78cc224bde5745ca949e3d8072c434b739.svg"
                      alt=""
                      class="css-8zr56v css-ez8men"
                    />
                  </div>
                </div>
                <div class="css-gzmw6b css-jvpnk3 css-paq0kv">
                  <p class="css-nf5ac4 css-ro9fcw css-e3tv12 textContents">
                    Capture Caribbean: Where the World Meets Caribbean
                    Creativity
                  </p>
                  <p class="css-nf5ac4 css-bv2n15 css-e3tv12 textContents">
                    © 2026 Capture Caribbean
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <noscript data-nosnippet="">
      <main
        style="
          height: 100vh;
          width: 100vw;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        "
      >
        <h1 style="font-size: 24px; padding: 8px; color: black">
          This site requires JavaScript
        </h1>
        <p style="font-size: 16px; padding: 8px; color: #00000080">
          To view this website, enable JavaScript in your browser settings and
          reload the page.
        </p>
        <form style="margin-top: 12px" action="">
          <button
            type="submit"
            style="
              font-size: 14px;
              color: black;
              border: 1px solid #0000001a;
              border-radius: 5px;
              width: 256px;
              height: 32px;
            "
          >
            Reload page
          </button>
        </form>
      </main>
    </noscript>
  

