<div id="container">
      <div
        class="css-i9h3z css-50jkpj css-rn2hh9"
        data-page-overflowx="hidden"
      >
        <div class="css-9uyk0n css-v27th6 css-cuerbe">
          <div class="css-stwrzw css-5knerd">
            <div aria-hidden="true" class="css-trglf0 css-r0azwh">
              <div class="css-phc9f9 css-trglf0">
                <img
                  alt=""
                  class="css-trglf0 css-frzniw"
                  src="https://capturecaribbean.figma.site/_assets/v11/2e0c0369985921b83bf3517c3809b35f13d4c44f.png"
                  srcset="
                    https://capturecaribbean.figma.site/_assets/v11/2e0c0369985921b83bf3517c3809b35f13d4c44f.png        2121w,
                    https://capturecaribbean.figma.site/_assets/v11/2e0c0369985921b83bf3517c3809b35f13d4c44f.png?w=583   583w,
                    https://capturecaribbean.figma.site/_assets/v11/2e0c0369985921b83bf3517c3809b35f13d4c44f.png?w=1165 1165w,
                    https://capturecaribbean.figma.site/_assets/v11/2e0c0369985921b83bf3517c3809b35f13d4c44f.png?w=1748 1748w,
                    https://capturecaribbean.figma.site/_assets/v11/2e0c0369985921b83bf3517c3809b35f13d4c44f.png?w=2330 2330w
                  "
                  sizes="114vw"
                />
              </div>
              <div class="css-s58prs css-trglf0 css-r0azwh"></div>
            </div>
            <div class="css-r3og54 css-j9f0op">
              <div class="css-2dqx77 css-paq0kv css-j9f0op">
                <div class="css-ks1xrq css-h86s6c css-paq0kv">
                  <div class="css-uhys88 css-v27th6 css-paq0kv">
                    <div class="css-c20z98 css-dczajm css-paq0kv">
                      <div class="css-aa2rly css-9uyk0n css-paq0kv">
                        <div class="css-sz2f8 css-v27th6 css-paq0kv">
                          <div class="css-sz2f8 css-v27th6 css-paq0kv">
                            <div class="css-zfhtxa css-v27th6 css-paq0kv">
                              <p
                                class="css-nf5ac4 css-59rdls css-bqwcu6 css-9jtq1y textContents"
                              >
                                Beyond the Contest
                              </p>
                              <p
                                class="css-tzn6qh css-w9lend css-mly5wr css-ueucp2 textContents"
                              >
                                A home for the<br />Caribbean Creative Spirit.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="css-ft4d0g css-v27th6 css-paq0kv">
                      <div class="css-liobgr css-v27th6 css-paq0kv">
                        <p
                          class="css-nf5ac4 css-rhxma0 css-4xz6kg css-wh4ihv textContents"
                        >
                          Join thousands of passionate creators,<br />
                          learners, and innovators in a community where<br />
                          your ideas come to life
                        </p>
                      </div>
                      <div class="css-z8tzya css-paq0kv">
                        <div
                          class="css-tyqn17 css-5knerd"
                          tabindex="0"
                          role="button"
                          (click)="scrollToThriving()"
                          (keydown.enter)="scrollToThriving()"
                          (keydown.space)="scrollToThriving()"
                          style="border-radius: 1.5px; opacity: 1; cursor: pointer"
                        >
                          <div
                            class="css-trglf0 css-r0azwh"
                            aria-hidden="true"
                            style="
                              background-color: rgb(255, 200, 69);
                              border-radius: 1.5px;
                              opacity: 1;
                            "
                          ></div>
                          <div
                            aria-hidden="true"
                            class="css-ggwoeh css-trglf0 css-5eam1e"
                            style="
                              border-radius: 1.5px;
                              border-width: 0.535px;
                              border-color: rgba(0, 0, 0, 0);
                              border-style: solid;
                              opacity: 1;
                            "
                          ></div>
                          <div class="css-oyxhkk css-paq0kv css-v27th6">
                            <div
                              class="textContents css-wc1msa css-k6wype css-v88b74"
                              style="
                                color: rgb(0, 0, 0);
                                font-size: 8.44px;
                                letter-spacing: 0px;
                                line-height: 0;
                                opacity: 1;
                              "
                            >
                              <p class="css-8zr56v css-jpsr3q">
                                Join the Waitlist
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="css-tyqn17 css-5knerd"
                          tabindex="0"
                          role="button"
                          style="border-radius: 1.5px; opacity: 1"
                        >
                          <div
                            aria-hidden="true"
                            class="css-ggwoeh css-trglf0 css-5eam1e"
                            style="
                              border-radius: 1.5px;
                              border-width: 1.5px;
                              border-color: rgb(255, 255, 255);
                              border-style: solid;
                              opacity: 1;
                            "
                          ></div>
                          <div class="css-oyxhkk css-paq0kv css-v27th6">
                            <div
                              class="textContents css-wc1msa css-k6wype css-f7juvu"
                              style="
                                color: rgb(255, 255, 255);
                                font-size: 8.44px;
                                letter-spacing: 0px;
                                line-height: 0;
                                opacity: 1;
                              "
                            >
                              <p class="css-8zr56v css-jpsr3q">
                                Explore Communities
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <app-navbar [wrapperClass]="'css-vhq6dg css-8hhw9a css-trglf0'" [cc]="true" />
              </div>
            </div>
          </div>
        </div>

        <div class="empty-white-section coming-soon-section">
          <h2 class="coming-soon-text">Details will be Coming Soon!</h2>
          <div class="cc-reveal">
            <img src="/assets/images/caribbean-connections-logo.svg" alt="" class="cc-reveal-img cc-reveal-cyan" />
            <img src="/assets/images/caribbean-connections-logo.svg" alt="" class="cc-reveal-img cc-reveal-red" />
            <img src="/assets/images/caribbean-connections-logo.svg" alt="Caribbean Connections" class="cc-reveal-img cc-reveal-main" />
          </div>
          <div class="polaroid-carousel" aria-hidden="true">
            <div class="polaroid-track">
              <figure class="polaroid polaroid-r1"><img src="/assets/images/beach_image.jpg" alt="" /></figure>
              <figure class="polaroid polaroid-r2"><img src="/assets/images/mountain.jpg" alt="" /></figure>
              <figure class="polaroid polaroid-r3"><img [src]="mediaBaseUrl + '/iStock-1232115076.jpg'" alt="" /></figure>
              <figure class="polaroid polaroid-r4"><img [src]="mediaBaseUrl + '/iStock-1316997695.jpg'" alt="" /></figure>
              <figure class="polaroid polaroid-r5"><img src="/assets/images/home-banner_1-2.jpg" alt="" /></figure>
              <figure class="polaroid polaroid-r6"><img src="https://capturecaribbean.figma.site/_assets/v11/a2590f7f77d750fd96de6f089f30c3571606f94e.png" alt="" /></figure>
              <figure class="polaroid polaroid-r1"><img src="https://capturecaribbean.figma.site/_assets/v11/1a08e0d018ecd17deaa2db0a44fb8b075135e70d.png" alt="" /></figure>
              <figure class="polaroid polaroid-r1"><img src="/assets/images/beach_image.jpg" alt="" /></figure>
              <figure class="polaroid polaroid-r2"><img src="/assets/images/mountain.jpg" alt="" /></figure>
              <figure class="polaroid polaroid-r3"><img [src]="mediaBaseUrl + '/iStock-1232115076.jpg'" alt="" /></figure>
              <figure class="polaroid polaroid-r4"><img [src]="mediaBaseUrl + '/iStock-1316997695.jpg'" alt="" /></figure>
              <figure class="polaroid polaroid-r5"><img src="/assets/images/home-banner_1-2.jpg" alt="" /></figure>
              <figure class="polaroid polaroid-r6"><img src="https://capturecaribbean.figma.site/_assets/v11/a2590f7f77d750fd96de6f089f30c3571606f94e.png" alt="" /></figure>
              <figure class="polaroid polaroid-r1"><img src="https://capturecaribbean.figma.site/_assets/v11/1a08e0d018ecd17deaa2db0a44fb8b075135e70d.png" alt="" /></figure>
            </div>
          </div>
        </div>

        <div id="thriving-community" class="css-nllq1o css-5knerd">
          <div aria-hidden="true" class="css-trglf0 css-r0azwh">
            <div class="css-phc9f9 css-trglf0">
              <img
                alt=""
                loading="lazy"
                class="css-trglf0 css-43d4nr"
                src="https://capturecaribbean.figma.site/_assets/v11/ef737c60bbb03c6d93229535c2931978f3edff0f.png"
                srcset="
                  https://capturecaribbean.figma.site/_assets/v11/ef737c60bbb03c6d93229535c2931978f3edff0f.png        1248w,
                  https://capturecaribbean.figma.site/_assets/v11/ef737c60bbb03c6d93229535c2931978f3edff0f.png?w=512   512w,
                  https://capturecaribbean.figma.site/_assets/v11/ef737c60bbb03c6d93229535c2931978f3edff0f.png?w=1024 1024w
                "
                sizes="auto,100vw"
              />
            </div>
            <div class="css-cu1lw9 css-trglf0 css-r0azwh"></div>
          </div>
          <div class="css-gxdil1 css-405an0 css-j9f0op">
            <div class="css-yiw6sn css-paq0kv css-j9f0op">
              <div class="tailwind css-d455ri css-wc1msa">
                <div
                  class="backdrop-blur-[1.2px] backdrop-filter bg-[rgba(0,0,0,0.35)] relative size-full"
                >
                  <div
                    class="flex flex-col items-center justify-center size-full"
                  >
                    <div
                      class="box-border content-stretch flex flex-col gap-[21px] items-center justify-center pb-[18px] pt-[22.5px] px-[18px] relative size-full"
                    >
                      <div
                        class="content-stretch flex flex-col gap-[18px] items-start relative shrink-0 w-full"
                      >
                        <div
                          class="content-stretch flex gap-[18px] items-start relative shrink-0 w-full"
                        >
                          <div
                            class="basis-0 content-stretch flex flex-col gap-[12px] grow items-start min-h-px min-w-px relative shrink-0"
                            data-name="Cards"
                          >
                            <div class="h-[42px] relative shrink-0 w-full">
                              <div
                                class="flex flex-row items-center overflow-clip rounded-[inherit] size-full"
                              >
                                <div
                                  class="box-border content-stretch flex gap-[7.5px] h-[42px] items-center pl-[12px] pr-[12px] py-[9.75px] relative w-full"
                                >
                                  <input
                                    type="text"
                                    name="firstName"
                                    placeholder="First Name"
                                    class="bg-transparent border-none font-['Sora:Regular',_sans-serif] font-normal leading-[normal] text-[13.5px] text-white w-full outline-none placeholder:text-white"
                                    value=""
                                  />
                                </div>
                              </div>
                              <div
                                aria-hidden="true"
                                class="absolute border-[0.75px] border-solid border-white inset-0 pointer-events-none"
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="content-stretch flex flex-col gap-[12px] items-start relative shrink-0 w-full"
                          data-name="Cards"
                        >
                          <div class="h-[42px] relative shrink-0 w-full">
                            <div
                              class="flex flex-row items-center overflow-clip rounded-[inherit] size-full"
                            >
                              <div
                                class="box-border content-stretch flex gap-[7.5px] h-[42px] items-center pl-[12px] pr-[12px] py-[9.75px] relative w-full"
                              >
                                <input
                                  type="email"
                                  name="email"
                                  placeholder="Email"
                                  class="bg-transparent border-none font-['Sora:Regular',_sans-serif] font-normal leading-[normal] text-[13.5px] text-white w-full outline-none placeholder:text-white"
                                  value=""
                                />
                              </div>
                            </div>
                            <div
                              aria-hidden="true"
                              class="absolute border-[0.75px] border-solid border-white inset-0 pointer-events-none"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="content-stretch flex flex-col gap-[12px] items-start justify-center relative shrink-0 w-full"
                      >
                        <div
                          class="content-stretch flex flex-col gap-[9px] items-center justify-center relative shrink-0 w-full"
                        >
                          <button
                            class="bg-[#ffc845] box-border content-stretch flex gap-[7.114px] items-center justify-center px-[15px] py-[12px] relative shrink-0 w-[363.75px] cursor-pointer hover:bg-[#f4bb38] transition-colors"
                          >
                            <p
                              class="font-['Poppins:SemiBold',_sans-serif] leading-[normal] not-italic relative shrink-0 text-[15px] text-black text-nowrap whitespace-pre"
                            >
                              Notify me on Launch
                            </p>
                          </button>
                          <div
                            class="h-[22.5px] relative shrink-0 w-[219.75px]"
                            data-name="Expected Launch: 2027"
                          >
                            <p
                              class="absolute font-['Sora:Regular',_sans-serif] font-normal inset-0 leading-[22.5px] text-[12px] text-center text-nowrap text-white whitespace-pre"
                            >
                              Expected Launch: 2027
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="css-b84j9q css-v27th6 css-paq0kv">
                <div class="css-sotq9e css-wbr9p4 css-paq0kv">
                  <p
                    class="css-nf5ac4 css-rb5u2z css-5alvr0 css-9jtq1y textContents"
                  >
                    Find your creative tribe here. It's like having a studio
                    full of artists who are always ready to collaborate and
                    inspire each other.
                  </p>
                </div>
                <div class="css-dd9gt7 css-wc1msa" data-isimage="true">
                  <img
                    loading="lazy"
                    src="https://capturecaribbean.figma.site/_assets/v11/6266498f7c872233e71a43815452ac6c9ba4c290.svg"
                    alt=""
                    class="css-tzn6qh css-ez8men"
                  />
                </div>
              </div>
              <div
                class="css-6bx0tj css-hdvvn5 css-viqo8f"
                style="transform: translateX(-50%)"
              >
                <div class="css-93wn39 css-v27th6 css-paq0kv">
                  <p
                    class="css-nf5ac4 css-59rdls css-k88o5y css-6vp3ws textContents"
                  >
                    Ready to Join a <span class="css-4kha33 css-xuf7pg">Thriving Community</span>?
                  </p>
                  <p
                    class="css-nf5ac4 css-4wg6y css-h9j71c css-fhhq3m textContents"
                  >
                    Take the first step toward connecting with amazing people
                    and achieving <span class="rtjtc-goals">your goals</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="css-5knerd css-v27th6 css-bo4u3g">
          <div class="css-gxdil1 css-mesbg2 css-j9f0op">
            <div class="css-8y6ltl css-paq0kv css-v27th6">
              <div class="css-cf1rk css-5dba7r css-paq0kv">
                <div class="css-3ywmdr css-wc1msa cc-footer-logo" data-isimage="true">
                  <img
                    loading="lazy"
                    src="/assets/images/caribbean-connections-footer-logo.png"
                    alt="Caribbean Connections"
                    class="cc-footer-logo-img"
                  />
                </div>
                <div class="css-zfhta1 css-v27th6 css-paq0kv">
                  <div class="css-dczajm css-paq0kv">
                    <div class="css-dczajm css-paq0kv">
                      <div class="css-z8tvcy css-paq0kv">
                        <a
                          class="textContents css-wc1msa"
                          routerLink="/caribbean-connections"
                          target="_self"
                        >
                          <p
                            class="css-nf5ac4 css-liyv20 css-ueucp2 textContents"
                          >
                            Home
                          </p>
                        </a>
                        <a
                          class="textContents css-wc1msa"
                          routerLink="/caribbean-connections/experience"
                          target="_self"
                        >
                          <p
                            class="css-nf5ac4 css-liyv20 css-ueucp2 textContents"
                          >
                            Experience
                          </p>
                        </a>
                        <a
                          class="textContents css-wc1msa"
                          routerLink="/caribbean-connections/about-connections"
                          target="_self"
                        >
                          <p
                            class="css-nf5ac4 css-liyv20 css-ueucp2 textContents"
                          >
                            About
                          </p>
                        </a>
                        <a
                          class="textContents css-wc1msa"
                          routerLink="/caribbean-connections/contact-connections"
                          target="_self"
                        >
                          <p
                            class="css-nf5ac4 css-liyv20 css-ueucp2 textContents"
                          >
                            Contact
                          </p>
                        </a>
                        <a
                          class="textContents css-wc1msa cc-footer-back-link"
                          routerLink="/"
                          target="_self"
                        >
                          <p
                            class="css-nf5ac4 css-liyv20 css-ueucp2 textContents cc-footer-back-link-text"
                          >
                            Back to <strong>Capture Caribbean</strong>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="css-dczajm css-v27th6 css-paq0kv"></div>
                  <div class="css-5icr55 css-zfhtxa css-paq0kv">
                    <div class="css-lhny1b css-wc1msa" data-isimage="true">
                      <img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/5fd865dc2ca5b91dddac59d7b9d084216cd0efb1.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                      />
                    </div>
                    <div class="css-ogcvv7 css-wc1msa" data-isimage="true">
                      <div class="css-trglf0 css-z6q6gt">
                        <img
                          loading="lazy"
                          src="https://capturecaribbean.figma.site/_assets/v11/c706b9a599d4bde56411cbce199bf27133cdf484.svg"
                          alt=""
                          class="css-8zr56v css-ez8men"
                        />
                      </div>
                    </div>
                    <div class="css-b0jis2 css-jvpnk3 css-paq0kv">
                      <p class="css-nf5ac4 css-h266w3 css-ueucp2 textContents">
                        © 2026 Capture Caribbean
                      </p>
                      <button
                        class="css-z8tzvp css-hf9sha"
                        type="button"
                        (click)="scrollToTop()"
                      >
                        <p
                          class="css-nf5ac4 css-o1ldy6 css-9jtq1y textContents"
                        >
                          Back to top
                        </p>
                        <div class="css-u7g7t">
                          <div class="css-4szaq4 css-2gbjjk">
                            <div class="css-tahzax css-wc1msa">
                              <div class="css-grtgjx css-ncscp3">
                                <div
                                  class="css-ayg824 css-mg3gna css-wfs30m"
                                  style="
                                    width: 8.047px;
                                    height: 10.016px;
                                    transform: matrix(-1, 0, 0, -1, 0, 0);
                                  "
                                >
                                  <div
                                    class="css-vf8mzy css-j9f0op"
                                    data-isimage="true"
                                  >
                                    <div class="css-trglf0 css-mwes21">
                                      <img
                                        loading="lazy"
                                        src="https://capturecaribbean.figma.site/_assets/v11/24a91aa7e7e16b52dd01e2733154aa10ab660cd6.svg"
                                        alt=""
                                        class="css-8zr56v css-ez8men"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            aria-hidden="true"
                            class="css-m7zj2c css-ggwoeh css-5eam1e"
                          ></div>
                        </div>
                      </button>
                    </div>
                  </div>
                  <div class="css-hq55li css-wc1msa"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
