<div id="container">
      <div
        class="css-mpui8r css-50jkpj css-rn2hh9"
        data-page-overflowx="hidden"
        data-breakpoint-id="node-1_15995"
        data-breakpoint="true"
        data-width="1440"
        data-height="2671.6083984375"
      >
        <div class="css-zduxzj css-roiesn" data-isimage="true">
          <img
            src="https://capturecaribbean.figma.site/_assets/v11/b9b9a1c0e53ce88043852171ea7f79014c01b38e.svg"
            alt=""
            class="css-tzn6qh css-ez8men"
          />
        </div>
        <div class="css-ncadds css-v27th6 css-paq0kv">
          <div class="css-sz2f8 css-v27th6 css-paq0kv">
            <div class="css-x1aotd css-qyjf0 css-2gbjjk">
              <div class="css-phc9f9 css-trglf0 css-trglf0 css-r0azwh">
                <img
                  alt=""
                  class="css-trglf0 css-qhigbp"
                  src="https://capturecaribbean.figma.site/_assets/v11/f69eef640238689809206821d908a78767bf6b3f.png"
                  srcset="
                    https://capturecaribbean.figma.site/_assets/v11/f69eef640238689809206821d908a78767bf6b3f.png        3840w,
                    https://capturecaribbean.figma.site/_assets/v11/f69eef640238689809206821d908a78767bf6b3f.png?w=516   516w,
                    https://capturecaribbean.figma.site/_assets/v11/f69eef640238689809206821d908a78767bf6b3f.png?w=1031 1031w,
                    https://capturecaribbean.figma.site/_assets/v11/f69eef640238689809206821d908a78767bf6b3f.png?w=1547 1547w,
                    https://capturecaribbean.figma.site/_assets/v11/f69eef640238689809206821d908a78767bf6b3f.png?w=2062 2062w,
                    https://capturecaribbean.figma.site/_assets/v11/f69eef640238689809206821d908a78767bf6b3f.png?w=2578 2578w,
                    https://capturecaribbean.figma.site/_assets/v11/f69eef640238689809206821d908a78767bf6b3f.png?w=3093 3093w,
                    https://capturecaribbean.figma.site/_assets/v11/f69eef640238689809206821d908a78767bf6b3f.png?w=3609 3609w
                  "
                  sizes="101vw"
                />
              </div>
              <p
                class="css-yi6nad css-v4058c css-roiesn css-zde9d4 textContents"
              >
                <span class="css-unwoo">Global Tour — </span
                ><span class="css-2ikrn">Saint Lucia</span>
              </p>
            </div>
          </div>
          <div class="css-ptakiy css-v27th6 css-paq0kv">
            <div class="css-zfhscg css-v27th6 css-paq0kv">
              <div class="css-bdwg7d css-paq0kv">
                <p
                  class="css-i5esta css-wc1msa css-zde9d4 css-6vp3ws textContents"
                >
                  <span class="css-g3pvqa">Capture Saint Lucia </span
                  ><span class="css-tqg076 css-xuf7pg">International Tour</span>
                </p>
                <p
                  class="css-nf5ac4 css-4cf4ir css-kvxdad css-uot4si textContents"
                >
                  More than landscapes — this is a journey through the heartbeat
                  of the Caribbean: its people, cultures, faiths, and stories.
                  The Capture Caribbean International Tour unites the world
                  through the transformative power of art, human creativity, and
                  ingenuity.
                </p>
              </div>
              <div class="css-fvisqc css-wc1msa">
                <img
                  alt=""
                  loading="lazy"
                  class="css-ez8men css-qhd53h css-trglf0 css-trglf0 css-r0azwh css-qhd53h"
                  src="https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png"
                  srcset="
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png        4096w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=1536 1536w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=2048 2048w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=2560 2560w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=3072 3072w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=3584 3584w
                  "
                  sizes="auto,1275px"
                />
              </div>
            </div>
            <div class="css-dczajm css-v27th6 css-paq0kv">
              <div class="css-5icthj css-jvpnk3 css-paq0kv">
                <div class="css-a8ck2f css-paq0kv">
                  <p
                    class="css-i5fco0 css-wc1msa css-r1rse1 css-6vp3ws textContents"
                  >
                    <span class="css-tlu9sx">Capture Saint Lucia — </span
                    ><span class="css-b3a67r css-xuf7pg">The</span
                    ><span class="css-tlu9sx"> </span
                    ><span class="css-a610ba css-xuf7pg"
                      >Beginning of Capture Caribbean.</span
                    >
                  </p>
                  <div class="css-uqbmfr css-a8ck2f css-paq0kv">
                    <div
                      class="textContents css-tphmy5 css-wc1msa css-ppmrzy css-yjj0pe"
                    >
                      <p class="css-8jchzs css-4oc9vs">
                        More than landscapes — this is a journey through the
                        heartbeat of the Caribbean: its people, cultures,
                        faiths, and stories. The Capture Caribbean International
                        Tour unites the world through the transformative power
                        of art, human creativity, and ingenuity. And it all
                        begins with Saint Lucia.
                      </p>
                      <p class="css-8zr56v css-ndxjy6">&nbsp;</p>
                    </div>
                    <p
                      class="css-nf5ac4 css-tphmy5 css-cloobj css-yjj0pe textContents"
                    >
                      The Capture Saint Lucia Tour marks the first chapter of
                      this global cultural journey. Known for its breathtaking
                      beauty, vibrant traditions, and deep heritage, Saint Lucia
                      will serve as the opening lens through which the world
                      experiences the soul of the Caribbean. Through
                      photography, film, multimedia installations, and immersive
                      storytelling, the tour will reveal the island’s living
                      culture beyond the postcard image.
                    </p>
                  </div>
                </div>
                <div class="css-7n2s0q css-wc1msa">
                  <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                    <img
                      alt=""
                      loading="lazy"
                      class="css-ez8men css-qhd53h css-trglf0"
                      src="https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png"
                      srcset="
                        https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png        1500w,
                        https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png?w=1024 1024w
                      "
                      sizes="auto,570.75px"
                    /><img
                      alt=""
                      loading="lazy"
                      class="css-ez8men css-qhd53h css-trglf0"
                      src="https://capturecaribbean.figma.site/_assets/v11/e2f17adf87980ab2a4e8656e51585ab929e7f10a.png"
                      srcset="
                        https://capturecaribbean.figma.site/_assets/v11/e2f17adf87980ab2a4e8656e51585ab929e7f10a.png        1275w,
                        https://capturecaribbean.figma.site/_assets/v11/e2f17adf87980ab2a4e8656e51585ab929e7f10a.png?w=1024 1024w
                      "
                      sizes="auto,570.75px"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="css-sz2f8 css-v27th6 css-paq0kv">
              <div class="css-5icthj css-jvpnk3 css-paq0kv">
                <div class="css-a8ck2f css-paq0kv">
                  <p class="css-wc1msa css-72kw6x css-6vp3ws textContents">
                    <span class="css-tlu9sx">Global Vision — </span
                    ><span class="css-a610ba css-xuf7pg"
                      >Capture Saint Lucia Tour</span
                    >
                  </p>
                  <div class="css-uqbmfr css-a8ck2f css-paq0kv">
                    <p
                      class="css-nf5ac4 css-v27th6 css-cloobj css-yjj0pe textContents"
                    >
                      Each stop on this inaugural tour is an encounter with the
                      many expressions of the human spirit, with the places and
                      communities that hold our stories, and with the shared
                      curiosity and meaning that connect us across borders.
                    </p>
                    <p
                      class="css-nf5ac4 css-v27th6 css-syhh3i css-iguuiu textContents"
                    >
                      This is the power of art in motion. This is legacy on
                      tour.
                    </p>
                  </div>
                </div>
                <div class="css-7n2s0q css-wc1msa">
                  <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                    <img
                      alt=""
                      loading="lazy"
                      class="css-ez8men css-qhd53h css-trglf0"
                      src="https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png"
                      srcset="
                        https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png        4096w,
                        https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=1024 1024w,
                        https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=1536 1536w
                      "
                      sizes="auto,570.75px"
                    /><img
                      alt=""
                      loading="lazy"
                      class="css-ez8men css-qhd53h css-trglf0"
                      src="https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png"
                      srcset="
                        https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png        1500w,
                        https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png?w=1024 1024w
                      "
                      sizes="auto,570.75px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="css-5knerd css-v27th6 css-sfem9u">
          <div class="css-gxdil1 css-e1d1o2 css-j9f0op">
            <div class="css-p70z91 css-paq0kv css-v27th6">
              <div class="css-ra9f2e css-jvpnk3 css-paq0kv">
                <div class="css-49kvq1 css-paq0kv">
                  <a
                    class="css-khrh60 css-wc1msa css-134pm3"
                    routerLink="/"
                    target="_self"
                    ><div class="css-phc9f9 css-trglf0 css-trglf0 css-r0azwh">
                      <img
                        alt=""
                        loading="lazy"
                        class="css-trglf0 css-js0xyv"
                        src="https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png       1655w,
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png?w=322  322w,
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png?w=643  643w
                        "
                        sizes="auto,251.33215623111008px"
                      /></div
                  ></a>
                  <div class="css-7xhp8u css-nertwn css-paq0kv">
                    <a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://x.com/takecaribphotos"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/b2074916c4b3fb08fdb1513db29f423f555a529e.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.facebook.com/caribbeanphotocontest"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/6cfbca3ae939308c21eba8d2209aba2c9cadf9c1.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.instagram.com/caribbean_photo_contest/"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/0eaea1a58213f48531e1a039ce697ef09366ec89.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.youtube.com/@CaribbeanPhotoContest"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/039ca8be43d1e44dd6d9e6eb9506f9ab4eaa61d2.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                    /></a>
                  </div>
                </div>
                <div class="css-pr5rfd css-paq0kv">
                  <p class="css-nf5ac4 css-2rawmj css-szvueg textContents">
                    Capture Initiatives
                  </p>
                  <div class="css-eyahki css-paq0kv">
                    <a
                      class="css-95o4tl css-wc1msa css-134pm3"
                      href="https://capturecaribbean.com/sweepstakes/"
                      target="_blank"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/58deaec754e7aab82943b5c849bffb5e0f944b1e.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-3zz5a0 css-wc1msa css-134pm3"
                      href="https://capturecaribbean.com/contests/"
                      target="_blank"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/782bc67995f21e42c44ea577c99e43b41ad4bd3a.png"
                        alt=""
                        width="65.021"
                        height="52.601"
                        class="css-tzn6qh css-ez8men"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/782bc67995f21e42c44ea577c99e43b41ad4bd3a.png 66w
                        "
                        sizes="auto,65.02027702331543px" /></a
                    ><a
                      class="css-q7nfxi css-wc1msa css-134pm3"
                      href="https://capturecaribbean.figma.site/caribbean-connection"
                      target="_blank"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/aee29072c9a1abc2dc81b297db383a45203a6aef.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                    /></a>
                  </div>
                </div>
                <div class="css-dczajm css-paq0kv">
                  <div class="css-h5oqay css-3vj1k">
                    <div class="css-8byg4f css-paq0kv">
                      <a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/saint-lucia"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          The Capture Saint Lucia™ Invitational
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/residency"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          Artist in Residency Program
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/exhibition"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          The Saint Lucia Exhibition
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/global-tour"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">The Global Tour</p></a
                      >
                    </div>
                    <div class="css-8byg4f css-paq0kv">
                      <a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/about-us"
                        target="_blank"
                        ><p class="css-8zr56v css-4i1sn1">The Vision</p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/contact"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">Contact</p></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="css-ra9f2e css-djsg1y css-paq0kv">
                <div class="css-ogcvv7 css-wc1msa" data-isimage="true">
                  <div class="css-trglf0 css-3bt97v">
                    <img
                      loading="lazy"
                      src="https://capturecaribbean.figma.site/_assets/v11/8c2c2d78cc224bde5745ca949e3d8072c434b739.svg"
                      alt=""
                      class="css-8zr56v css-ez8men"
                    />
                  </div>
                </div>
                <div class="css-gzmw6b css-jvpnk3 css-paq0kv">
                  <p class="css-nf5ac4 css-ro9fcw css-e3tv12 textContents">
                    Capture Caribbean: Where the World Meets Caribbean
                    Creativity
                  </p>
                  <p class="css-nf5ac4 css-bv2n15 css-e3tv12 textContents">
                    © 2026 Capture Caribbean
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <noscript data-nosnippet="">
      <main
        style="
          height: 100vh;
          width: 100vw;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        "
      >
        <h1 style="font-size: 24px; padding: 8px; color: black">
          This site requires JavaScript
        </h1>
        <p style="font-size: 16px; padding: 8px; color: #00000080">
          To view this website, enable JavaScript in your browser settings and
          reload the page.
        </p>
        <form style="margin-top: 12px" action="">
          <button
            type="submit"
            style="
              font-size: 14px;
              color: black;
              border: 1px solid #0000001a;
              border-radius: 5px;
              width: 256px;
              height: 32px;
            "
          >
            Reload page
          </button>
        </form>
      </main>
    </noscript>
  

              <app-navbar [wrapperClass]="'css-rq6135 css-8hhw9a css-roiesn'" />
