# System
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular build output
dist/
.angular/cache/

# Java / Maven
target/
*.class
*.jar

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Secrets
.env
*.env.local
