<div id="container">
      <div
        class="css-i9h3z css-50jkpj css-rn2hh9"
        data-page-overflowx="hidden"
        data-breakpoint-id="node-1_12133"
        data-breakpoint="true"
        data-width="1440"
        data-height="5353.57421875"
      >
        <div class="css-s3y1xq css-roiesn" data-isimage="true">
          <img
            src="https://capturecaribbean.figma.site/_assets/v11/830448f8c11e440effa9916bc2e987fc23b1489e.svg"
            alt=""
            class="css-tzn6qh css-ez8men"
          />
        </div>
        <div class="css-9uyk0n css-v27th6 css-cuerbe">
          <app-navbar [wrapperClass]="'residency-header--desktop css-vhq6dg css-8hhw9a css-trglf0'" />
          <app-navbar [wrapperClass]="'residency-header--tablet css-vhq6dg css-8hhw9a css-trglf0'" />
          <app-navbar [wrapperClass]="'residency-header--mobile css-vhq6dg css-8hhw9a css-trglf0'" />
          <div class="css-stwrzw css-5knerd">
            <div aria-hidden="true" class="css-trglf0 css-r0azwh">
              <img
                alt=""
                class="css-ez8men css-qhd53h css-trglf0"
                src="https://capturecaribbean.figma.site/_assets/v11/ed3316f4f6a9a11437ade67dd5a553d0d7759205.png"
                srcset="
                  https://capturecaribbean.figma.site/_assets/v11/ed3316f4f6a9a11437ade67dd5a553d0d7759205.png        2121w,
                  https://capturecaribbean.figma.site/_assets/v11/ed3316f4f6a9a11437ade67dd5a553d0d7759205.png?w=512   512w,
                  https://capturecaribbean.figma.site/_assets/v11/ed3316f4f6a9a11437ade67dd5a553d0d7759205.png?w=1024 1024w,
                  https://capturecaribbean.figma.site/_assets/v11/ed3316f4f6a9a11437ade67dd5a553d0d7759205.png?w=1536 1536w,
                  https://capturecaribbean.figma.site/_assets/v11/ed3316f4f6a9a11437ade67dd5a553d0d7759205.png?w=2048 2048w
                "
                sizes="100vw"
              />
              <div class="css-yqpljo css-trglf0 css-r0azwh"></div>
            </div>
            <div class="css-r3og54 css-j9f0op">
              <div class="css-ghqjpe css-paq0kv css-j9f0op">
                <div class="css-4heiga css-msco0v css-paq0kv">
                  <div class="css-56bisj css-n8r96y css-paq0kv">
                    <div class="css-pasalw css-a8ckpo css-paq0kv">
                      <div class="css-n8r99j css-v27th6 css-paq0kv residency-hero-copy">
                        <div class="css-sz2f8 css-v27th6 css-paq0kv">
                          <div class="css-sz2f8 css-v27th6 css-paq0kv">
                            <div class="css-dczajm css-v27th6 css-paq0kv">
                              <p
                                class="css-nf5ac4 css-v27th6 css-hv9fpq css-8oxa0k textContents"
                              >
                                Grand Prize of the Caribbean Photo Contest
                              </p>
                            </div>
                          </div>
                        </div>
                        <p
                          class="css-nf5ac4 css-v27th6 css-4p2bqb css-uugwx8 textContents"
                        >
                          Capture Caribbean Artist‑in‑Residency
                        </p>
                      </div>
                      <p
                        class="css-nf5ac4 css-qnrxeb css-lgbtxs css-uugwx8 textContents residency-hero-copy-text"
                      >
                        This prestigious residency is the ultimate prize awarded
                        to the overall winner of the Caribbean Photo Contest.
                      </p>
                    </div>
                    <div class="css-17xzu7 css-1xrifm css-paq0kv">
                      <div class="css-1phb5a css-wc1msa">
                        <div
                          class="css-phc9f9 css-trglf0 css-trglf0 css-r0azwh"
                        >
                          <img
                            alt=""
                            class="css-trglf0 css-x5uwxu"
                            src="https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png"
                            srcset="
                              https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png        1920w,
                              https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png?w=1123 1123w,
                              https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png?w=2246 2246w
                            "
                            sizes="350.2705032236685px"
                          />
                        </div>
                      </div>
                      <p
                        class="css-tzn6qh css-evzbid css-umedde css-8oxa0k textContents"
                      >
                        Proudly hosted by
                      </p>
                    </div>
                  </div>
                  <div class="css-9uyk0n css-v27th6 css-paq0kv">
                    <div class="css-kvumda css-snkgse css-paq0kv">
                      <a
                        routerLink="/contest"
                        class="hero-primary-cta css-t67tmc css-5knerd css-134pm3"
                        style="opacity: 1; text-decoration: none; border-radius: 1.5px;"
                      >
                        <div
                          class="css-trglf0 css-r0azwh"
                          aria-hidden="true"
                          style="
                            background-color: rgba(0, 0, 0, 0.8);
                            border-radius: 1.5px;
                            opacity: 1;
                          "
                        ></div>
                        <div
                          aria-hidden="true"
                          class="css-ggwoeh css-trglf0 css-5eam1e"
                          style="
                            border-width: 0.535px;
                            border-color: rgba(0, 0, 0, 0);
                            border-style: solid;
                            opacity: 1;
                          "
                        ></div>
                        <div class="css-gnzhwk css-paq0kv">
                          <div
                            class="textContents css-wc1msa css-pm0kcc css-f7juvu"
                            style="
                              color: rgb(255, 255, 255);
                              font-size: 15px;
                              font-weight: 600;
                              font-variation-settings: normal;
                              letter-spacing: 0px;
                              line-height: 0;
                              opacity: 1;
                            "
                          >
                            <p class="css-8zr56v css-4r4q1m">Enter The Contest</p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="css-s21u7j css-w9xdfk css-paq0kv">
          <div class="css-4j1w8d css-zfht4v css-paq0kv">
            <div class="css-zfhupp css-v27th6 css-2gbjjk residency-mobile-gutter">
              <p class="css-wc1msa css-xcz0bd css-6vp3ws textContents">
                <span class="css-ovzu6t css-b54yok">A Fully-Funded </span
                ><span class="css-6wgsvz"> </span
                ><span class="css-cc0qij residency-heading-light">Creative Journey</span>
              </p>
              <p
                class="css-nf5ac4 css-59rdls css-kvxdad css-uot4si textContents"
              >
                The ultimate prize package for the Photographer of the Year.
              </p>
            </div>
            <div class="css-1n48hy css-v27th6 css-paq0kv">
              <div class="css-tqgiyl css-prpohr css-paq0kv">
                <div class="css-bhht40">
                  <div class="css-ayg824 css-2yjztp">
                    <div class="css-vf8mzy css-ugbsl7" data-isimage="true">
                      <img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/b04b26d9e6cba99836267fb4a604d6139daa99cb.png"
                        alt=""
                        width="352.5"
                        height="352.5"
                        class="css-tzn6qh css-ez8men"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/b04b26d9e6cba99836267fb4a604d6139daa99cb.png 353w
                        "
                        sizes="auto,352.5px"
                      />
                    </div>
                  </div>
                </div>
                <div class="css-prpohr css-v27th6 css-paq0kv">
                  <div class="css-snkgse css-paq0kv">
                    <div class="css-snkgse css-paq0kv">
                      <p class="css-nf5ac4 css-wnxu1t css-2e5s4a textContents">
                        Luxury Accommodations
                      </p>
                    </div>
                  </div>
                  <p
                    class="css-nf5ac4 css-59rdls css-hsi35g css-uot4si textContents"
                  >
                    Private suite &amp; dedicated workspace at Bay Gardens
                    Resorts, Saint Lucia.
                  </p>
                </div>
              </div>
              <div class="css-vddhoj css-prpohr css-paq0kv">
                <div class="css-ugbsl7 css-wc1msa">
                  <img
                    alt=""
                    loading="lazy"
                    class="css-ez8men css-qhd53h css-trglf0 css-trglf0 css-r0azwh css-qhd53h"
                    src="https://capturecaribbean.figma.site/_assets/v11/1a08e0d018ecd17deaa2db0a44fb8b075135e70d.png"
                    srcset="
                      https://capturecaribbean.figma.site/_assets/v11/1a08e0d018ecd17deaa2db0a44fb8b075135e70d.png        1024w,
                      https://capturecaribbean.figma.site/_assets/v11/1a08e0d018ecd17deaa2db0a44fb8b075135e70d.png?w=512   512w,
                      https://capturecaribbean.figma.site/_assets/v11/1a08e0d018ecd17deaa2db0a44fb8b075135e70d.png?w=1024 1024w
                    "
                    sizes="auto,352.5px"
                  />
                </div>
                <div class="css-x2a1bj css-v27th6 css-paq0kv">
                  <div class="css-snkgse css-paq0kv">
                    <div class="css-snkgse css-paq0kv">
                      <p class="css-wc1msa css-32l6tc css-2e5s4a textContents">
                        <span class="css-jpsr3q">$</span
                        ><span class="css-ay6lyp">15,000</span
                        ><span class="css-jpsr3q"> USD Grant</span>
                      </p>
                    </div>
                  </div>
                  <p
                    class="css-nf5ac4 css-59rdls css-hsi35g css-uot4si textContents"
                  >
                    A cash grant to fund your project and support your artistic
                    practice.
                  </p>
                </div>
              </div>
              <div class="css-tqgiyl css-prpohr css-paq0kv">
                <div class="css-ugbsl7 css-wc1msa">
                  <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                    <img
                      alt=""
                      loading="lazy"
                      class="css-ez8men css-qhd53h css-trglf0"
                      src="https://capturecaribbean.figma.site/_assets/v11/edba115e0d2baebe45291b2b61576aa536b2e637.png"
                      srcset="
                        https://capturecaribbean.figma.site/_assets/v11/edba115e0d2baebe45291b2b61576aa536b2e637.png        2048w,
                        https://capturecaribbean.figma.site/_assets/v11/edba115e0d2baebe45291b2b61576aa536b2e637.png?w=512   512w,
                        https://capturecaribbean.figma.site/_assets/v11/edba115e0d2baebe45291b2b61576aa536b2e637.png?w=1024 1024w
                      "
                      sizes="auto,352.5px"
                    /><img
                      alt=""
                      loading="lazy"
                      class="css-ez8men css-qhd53h css-trglf0"
                      src="https://capturecaribbean.figma.site/_assets/v11/5f9b9ab37e6ac11a994cc74e7945e164369bc940.png"
                      srcset="
                        https://capturecaribbean.figma.site/_assets/v11/5f9b9ab37e6ac11a994cc74e7945e164369bc940.png        1248w,
                        https://capturecaribbean.figma.site/_assets/v11/5f9b9ab37e6ac11a994cc74e7945e164369bc940.png?w=512   512w,
                        https://capturecaribbean.figma.site/_assets/v11/5f9b9ab37e6ac11a994cc74e7945e164369bc940.png?w=1024 1024w
                      "
                      sizes="auto,352.5px"
                    /><img
                      alt=""
                      loading="lazy"
                      class="css-ez8men css-qhd53h css-trglf0"
                      src="https://capturecaribbean.figma.site/_assets/v11/71c3ceb181a4e74d754e0e7e129b48c87456658d.png"
                      srcset="
                        https://capturecaribbean.figma.site/_assets/v11/71c3ceb181a4e74d754e0e7e129b48c87456658d.png        1024w,
                        https://capturecaribbean.figma.site/_assets/v11/71c3ceb181a4e74d754e0e7e129b48c87456658d.png?w=512   512w,
                        https://capturecaribbean.figma.site/_assets/v11/71c3ceb181a4e74d754e0e7e129b48c87456658d.png?w=1024 1024w
                      "
                      sizes="auto,352.5px"
                    />
                  </div>
                </div>
                <div class="css-prpohr css-v27th6 css-paq0kv">
                  <div class="css-snkgse css-paq0kv">
                    <div class="css-snkgse css-paq0kv">
                      <p class="css-nf5ac4 css-wnxu1t css-2e5s4a textContents">
                        International Showcase
                      </p>
                    </div>
                  </div>
                  <p
                    class="css-nf5ac4 css-59rdls css-hsi35g css-uot4si textContents"
                  >
                    A premier feature of your new work across the Capture
                    Caribbean platform.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="css-qcqk1c css-wc1msa">
            <div
              class="css-wyhd7d css-8hhw9a css-roiesn"
              style="transform: translateX(-50%)"
            >
              <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                <div class="css-phc9f9 css-trglf0">
                  <img
                    alt=""
                    loading="lazy"
                    class="css-trglf0 css-7s32lm"
                    src="https://capturecaribbean.figma.site/_assets/v11/787cff7ebd5a6c9aa6b08e3426781c3361dea361.png"
                    srcset="
                      https://capturecaribbean.figma.site/_assets/v11/787cff7ebd5a6c9aa6b08e3426781c3361dea361.png 880w
                    "
                    sizes="auto,1315.74975585938px"
                  />
                </div>
                <div class="css-hf4rpl css-trglf0 css-r0azwh"></div>
              </div>
            </div>
            <div
              class="css-e9x6q5 css-vxfvp6 css-raxvdf"
              style="transform: translateX(-50%) translateY(-50%)"
            >
              <div class="css-93woix css-v27th6 css-paq0kv residency-mobile-gutter">
                <div class="css-dczajm css-paq0kv">
                  <div class="css-zfhupp css-paq0kv">
                    <p class="css-wc1msa css-h0zo87 css-9jtq1y textContents">
                      <span class="css-yuud08 css-b54yok"> Public </span
                      ><span class="css-rh2n8e">Voting</span>
                    </p>
                    <p
                      class="css-nf5ac4 css-b6j3hn css-hrvtq css-9jtq1y textContents"
                    >
                      Alongside jury selection, fans and supporters worldwide
                      can vote for their favorite entries. Public Voting ensures
                      creativity is not only recognized by experts but
                      celebrated by the global audience.
                    </p>
                  </div>
                </div>
                <div class="css-i5hew1 css-sz2f8 css-paq0kv">
                  <div
                    class="hero-primary-cta residency-vote-cta css-t67tmc css-5knerd css-134pm3"
                    style="opacity: 1; border-radius: 1.5px;"
                  >
                    <div
                      class="css-trglf0 css-r0azwh"
                      aria-hidden="true"
                      style="
                        background-color: rgb(255, 255, 255);
                        border-radius: 1.5px;
                        opacity: 1;
                      "
                    ></div>
                    <div
                      aria-hidden="true"
                      class="css-ggwoeh css-trglf0 css-5eam1e"
                      style="
                        border-width: 0.535px;
                        border-color: rgba(0, 0, 0, 0);
                        border-style: solid;
                        opacity: 1;
                      "
                    ></div>
                    <div class="css-gnzhwk css-paq0kv">
                      <div
                        class="textContents css-wc1msa css-pm0kcc css-f7juvu"
                        style="
                          color: rgb(0, 0, 0);
                          font-size: 15px;
                          font-weight: 600;
                          font-variation-settings: normal;
                          letter-spacing: 0px;
                          line-height: 0;
                          opacity: 1;
                        "
                      >
                        <p class="css-8zr56v css-4r4q1m">Cast Your Vote</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p
                class="css-nf5ac4 css-v27th6 css-nf5gp7 css-9jtq1y textContents"
              >
                Voting opens after finalists are announced. One vote per
                category, per person.
              </p>
            </div>
          </div>
          <div class="css-gjn7ya css-v27th6 css-paq0kv">
            <div class="css-t8fwuh css-sf5ny4 css-paq0kv">
              <div class="css-toxqnb css-7ys6q4 css-paq0kv residency-mobile-gutter">
                <div class="css-sz2f8 css-v27th6 css-paq0kv">
                  <p
                    class="css-wc1msa css-v27th6 css-vsq42c css-iguuiu textContents"
                  >
                    <span class="css-369dl1 css-b54yok">Future Fellows</span
                    ><span class="css-n950rv residency-heading-light"> Showcase </span>
                  </p>
                </div>
                <p
                  class="css-nf5ac4 css-sshzch css-kvxdad css-uot4si textContents"
                >
                  Nurturing the Next Generation of Global Creatives
                </p>
                <div class="css-dczajm css-v27th6 css-paq0kv">
                  <p
                    class="css-uivz85 css-wc1msa css-3dvrdr css-2e5s4a textContents"
                  >
                    <span class="css-x69i9b css-lauz26"
                      >From the Caribbean to the world</span
                    ><span class="css-pjq13b"
                      >: elevating the next generation of global
                      storytellers</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="css-a0r1up css-7cqmvf css-paq0kv">
              <div class="css-njtyyc css-dczajm css-paq0kv">
                <div class="css-32dxzs css-um6ask css-paq0kv">
                  <div class="css-32dxzs css-wc1msa">
                    <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                      <img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/ba28cec583e8c9e17c171150ae87a5e7d8444175.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/ba28cec583e8c9e17c171150ae87a5e7d8444175.png        1200w,
                          https://capturecaribbean.figma.site/_assets/v11/ba28cec583e8c9e17c171150ae87a5e7d8444175.png?w=512   512w,
                          https://capturecaribbean.figma.site/_assets/v11/ba28cec583e8c9e17c171150ae87a5e7d8444175.png?w=1024 1024w
                        "
                        sizes="auto,100vw"
                      /><img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/d68bfbb76fc143302c38aa86cb0a54447ab05cc2.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/d68bfbb76fc143302c38aa86cb0a54447ab05cc2.png 400w
                        "
                        sizes="auto,100vw"
                      />
                    </div>
                  </div>
                  <div class="css-9uyk0n css-v27th6 css-paq0kv">
                    <p
                      class="css-nf5ac4 css-v27th6 css-sj5tp6 css-sx796 textContents"
                    >
                      2025 Fellow / To be announced
                    </p>
                  </div>
                </div>
              </div>
              <div class="css-njtyyc css-dczajm css-paq0kv">
                <div class="css-32dxzs css-um6ask css-paq0kv">
                  <div class="css-32dxzs css-wc1msa">
                    <img
                      alt=""
                      loading="lazy"
                      class="css-ez8men css-qhd53h css-trglf0 css-trglf0 css-r0azwh css-qhd53h"
                      src="https://capturecaribbean.figma.site/_assets/v11/bdcefc9b9199e08c6bad895993cb33774c2c6934.png"
                      srcset="
                        https://capturecaribbean.figma.site/_assets/v11/bdcefc9b9199e08c6bad895993cb33774c2c6934.png 400w
                      "
                      sizes="auto,100vw"
                    />
                  </div>
                  <div class="css-9uyk0n css-v27th6 css-paq0kv">
                    <p
                      class="css-nf5ac4 css-v27th6 css-sj5tp6 css-sx796 textContents"
                    >
                      2025 Fellow / To be announced
                    </p>
                  </div>
                </div>
              </div>
              <div class="css-njtyyc css-dczajm css-paq0kv">
                <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                  <img
                    alt=""
                    loading="lazy"
                    class="css-ez8men css-qhd53h css-trglf0"
                    src="https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png"
                    srcset="
                      https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png        1280w,
                      https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png?w=512   512w,
                      https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png?w=1024 1024w
                    "
                    sizes="auto,388.5px"
                  /><img
                    alt=""
                    loading="lazy"
                    class="css-ez8men css-qhd53h css-trglf0"
                    src="https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png"
                    srcset="
                      https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png        1280w,
                      https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png?w=512   512w,
                      https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png?w=1024 1024w
                    "
                    sizes="auto,388.5px"
                  />
                </div>
                <div class="css-32dxzs css-um6ask css-paq0kv">
                  <div class="css-32dxzs css-wc1msa">
                    <img
                      alt=""
                      loading="lazy"
                      class="css-ez8men css-qhd53h css-trglf0 css-trglf0 css-r0azwh css-qhd53h"
                      src="https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png"
                      srcset="
                        https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png        1280w,
                        https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png?w=512   512w,
                        https://capturecaribbean.figma.site/_assets/v11/23b861c6b3079cef2ce4c4a94cf13f91475d17c2.png?w=1024 1024w
                      "
                      sizes="auto,100vw"
                    />
                  </div>
                  <div class="css-9uyk0n css-v27th6 css-paq0kv">
                    <p
                      class="css-nf5ac4 css-v27th6 css-sj5tp6 css-sx796 textContents"
                    >
                      2025 Fellow / To be announced
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="css-i5hew1 css-liobgr css-paq0kv">
              <div class="css-liobgr css-v27th6 css-paq0kv">
                <div class="css-sz2f8 css-v27th6 css-paq0kv">
                  <div
                    class="hero-primary-cta css-t67tmc css-5knerd css-134pm3"
                    style="opacity: 1; border-radius: 1.5px;"
                  >
                    <div
                      class="css-trglf0 css-r0azwh"
                      aria-hidden="true"
                      style="
                        background-color: rgba(0, 0, 0, 0.8);
                        border-radius: 1.5px;
                        opacity: 1;
                      "
                    ></div>
                    <div
                      aria-hidden="true"
                      class="css-ggwoeh css-trglf0 css-5eam1e"
                      style="
                        border-width: 0.535px;
                        border-color: rgba(0, 0, 0, 0);
                        border-style: solid;
                        opacity: 1;
                      "
                    ></div>
                    <div class="css-gnzhwk css-paq0kv">
                      <div
                        class="textContents css-wc1msa css-pm0kcc css-f7juvu"
                        style="
                          color: rgb(255, 255, 255);
                          font-size: 15px;
                          font-weight: 600;
                          font-variation-settings: normal;
                          letter-spacing: 0px;
                          line-height: 0;
                          opacity: 1;
                        "
                      >
                        <p class="css-8zr56v css-4r4q1m">Apply Now</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="css-6txaz0 css-wc1msa">
            <div
              class="css-eojnwf css-roiesn css-sc3v9v"
              style="transform: translateX(-50%)"
            >
              <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                <div class="css-phc9f9 css-trglf0">
                  <img
                    alt=""
                    loading="lazy"
                    class="css-trglf0 css-yogc0z"
                    src="https://capturecaribbean.figma.site/_assets/v11/3b7c491f24dc40a7ce9efdc3909703ad5501d27e.png"
                    srcset="
                      https://capturecaribbean.figma.site/_assets/v11/3b7c491f24dc40a7ce9efdc3909703ad5501d27e.png        1231w,
                      https://capturecaribbean.figma.site/_assets/v11/3b7c491f24dc40a7ce9efdc3909703ad5501d27e.png?w=515   515w,
                      https://capturecaribbean.figma.site/_assets/v11/3b7c491f24dc40a7ce9efdc3909703ad5501d27e.png?w=1030 1030w
                    "
                    sizes="auto,101vw"
                  />
                </div>
                <div class="css-yn0i9c css-trglf0 css-r0azwh"></div>
              </div>
            </div>
            <div
              class="css-b0j10x css-8hhw9a css-roiesn"
              style="transform: translateX(-50%)"
            >
              <div class="css-phc9f9 css-trglf0 css-trglf0 css-r0azwh">
                <img
                  alt=""
                  loading="lazy"
                  class="css-trglf0 css-5de9th"
                  src="https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png"
                  srcset="
                    https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png        1920w,
                    https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png?w=609   609w,
                    https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png?w=1217 1217w
                  "
                  sizes="auto,427.61798220185364px"
                />
              </div>
            </div>
            <p class="css-tzn6qh css-n54h2w css-26k3y0 css-6mvdej textContents">
              Our Generous Host
            </p>
            <p class="css-tal9ew css-roiesn css-he4ds8 css-5euc4f textContents">
              <span class="css-pjq13b"
                >Official Hospitality &amp; Creative Hub of </span
              ><span class="css-x69i9b css-lauz26">Capture Saint Lucia</span>
            </p>
          </div>
          <div class="css-kkdv9j css-hp0pp css-cuerbe">
            <div class="css-i5cx62 css-osh0kg css-paq0kv">
              <div class="css-i5djls css-dczajm css-paq0kv residency-mobile-gutter">
                <div class="css-zfhupp css-v27th6 css-paq0kv">
                  <p class="css-wc1msa css-9errab css-iguuiu textContents">
                    <span class="css-yuud08 css-b54yok">Program </span
                    ><span class="css-11qvqg residency-heading-light">Details</span>
                  </p>
                  <p
                    class="css-nf5ac4 css-i5fe4j css-o1g9g1 css-uot4si textContents"
                  >
                    Answers to common questions about the residency prize.
                  </p>
                  <div class="css-tnu962 css-dczajm css-paq0kv">
                    <div class="css-dczajm css-v27th6 css-paq0kv">
                      <p
                        class="css-wc1msa css-v27th6 css-vr2606 css-2e5s4a textContents"
                      >
                        <span class="css-tfcyi2">
                          Sponsored by Bay Gardens Resorts —</span
                        ><span class="css-73lbds">
                          Championing Caribbean Creativity
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tailwind css-wc1msa css-v27th6 residency-program-accordion">
                <div class="residency-program-accordion__list">
                  <div
                    *ngFor="let item of programDetails; let i = index"
                    class="residency-program-accordion__item"
                    [class.is-open]="openProgramDetailIndex === i"
                  >
                    <button
                      type="button"
                      class="residency-program-accordion__trigger"
                      [attr.aria-expanded]="openProgramDetailIndex === i"
                      (click)="toggleProgramDetail(i)"
                    >
                      <span class="residency-program-accordion__icon" aria-hidden="true">
                        <svg
                          class="residency-program-accordion__chevron"
                          fill="none"
                          preserveAspectRatio="none"
                          viewBox="0 0 14 8"
                        >
                          <path
                            d="M1 1L7 7L13 1"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                          ></path>
                        </svg>
                      </span>
                      <span class="residency-program-accordion__question">{{ item.question }}</span>
                    </button>
                    <div
                      class="residency-program-accordion__panel"
                      *ngIf="openProgramDetailIndex === i"
                    >
                      <ul
                        *ngIf="item.answerLines?.length; else residencyProgramAnswerText"
                        class="residency-program-accordion__answer-list"
                      >
                        <li
                          *ngFor="let line of item.answerLines; let lineIndex = index"
                          class="residency-program-accordion__answer-list-item"
                          [class.is-header]="item.question === 'How long is the residency?' && lineIndex === 0"
                        >
                          {{ line }}
                        </li>
                      </ul>
                      <ng-template #residencyProgramAnswerText>
                        <p class="residency-program-accordion__answer">
                          {{ item.answer }}
                        </p>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="css-9uyk0n css-v27th6 css-paq0kv">
            <div class="css-2bswk5 css-sf5ny4 css-2gbjjk">
              <div class="css-phc9f9 css-trglf0 css-trglf0 css-r0azwh">
                <img
                  alt=""
                  loading="lazy"
                  class="css-trglf0 css-lo022t"
                  src="https://capturecaribbean.figma.site/_assets/v11/020d7e5462a87239a61325787214c904cca8f6db.png"
                  srcset="
                    https://capturecaribbean.figma.site/_assets/v11/020d7e5462a87239a61325787214c904cca8f6db.png        3120w,
                    https://capturecaribbean.figma.site/_assets/v11/020d7e5462a87239a61325787214c904cca8f6db.png?w=512   512w,
                    https://capturecaribbean.figma.site/_assets/v11/020d7e5462a87239a61325787214c904cca8f6db.png?w=1024 1024w,
                    https://capturecaribbean.figma.site/_assets/v11/020d7e5462a87239a61325787214c904cca8f6db.png?w=1536 1536w,
                    https://capturecaribbean.figma.site/_assets/v11/020d7e5462a87239a61325787214c904cca8f6db.png?w=2048 2048w,
                    https://capturecaribbean.figma.site/_assets/v11/020d7e5462a87239a61325787214c904cca8f6db.png?w=2560 2560w,
                    https://capturecaribbean.figma.site/_assets/v11/020d7e5462a87239a61325787214c904cca8f6db.png?w=3072 3072w
                  "
                  sizes="auto,100vw"
                />
              </div>
              <div class="css-dq91ku css-7y6cel residency-cta-section">
                <div class="css-gxdil1 css-jvc3eo css-j9f0op">
                  <div class="css-clru4t css-paq0kv css-j9f0op">
                    <div class="css-i5g51a css-zfht4v css-paq0kv">
                      <div class="css-ti1nrh css-93wn8f css-paq0kv residency-mobile-gutter">
                        <p
                          class="css-wc1msa css-v27th6 css-tzd2cd css-iguuiu textContents"
                        >
                          <span class="css-y7orhd css-a49u1q"
                            >Are You Ready to</span
                          ><span class="css-o0a75d css-a49u1q"> </span
                          ><span class="css-3225ox css-xwwrem residency-heading-light"
                            > Create in Paradise?</span
                          >
                        </p>
                        <p
                          class="css-nf5ac4 css-v27th6 css-ebs6ny css-ueucp2 textContents"
                        >
                          Applications for our 2026 residency are now open.
                        </p>
                      </div>
                      <div class="css-liobgr css-v27th6 css-paq0kv">
                        <div class="css-liobgr css-v27th6 css-paq0kv">
                          <div class="css-sz2f8 css-v27th6 css-paq0kv">
                            <div
                              class="hero-primary-cta css-t67tmc css-5knerd css-134pm3"
                              style="opacity: 1; border-radius: 1.5px;"
                            >
                              <div
                                class="css-trglf0 css-r0azwh"
                                aria-hidden="true"
                                style="
                                  background-color: rgba(0, 0, 0, 0.8);
                                  border-radius: 1.5px;
                                  opacity: 1;
                                "
                              ></div>
                              <div
                                aria-hidden="true"
                                class="css-ggwoeh css-trglf0 css-5eam1e"
                                style="
                                  border-width: 0.535px;
                                  border-color: rgba(0, 0, 0, 0);
                                  border-style: solid;
                                  opacity: 1;
                                "
                              ></div>
                              <div class="css-gnzhwk css-paq0kv">
                                <div
                                  class="textContents css-wc1msa css-pm0kcc css-f7juvu"
                                  style="
                                    color: rgb(255, 255, 255);
                                    font-size: 15px;
                                    font-weight: 600;
                                    font-variation-settings: normal;
                                    letter-spacing: 0px;
                                    line-height: 0;
                                    opacity: 1;
                                  "
                                >
                                  <p class="css-8zr56v css-4r4q1m">Apply Now</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="css-5knerd css-v27th6 css-sfem9u residency-footer-section">
          <div class="css-gxdil1 css-e1d1o2 css-j9f0op">
            <div class="css-p70z91 css-paq0kv css-v27th6">
              <div class="css-ra9f2e css-jvpnk3 css-paq0kv">
                <div class="css-49kvq1 css-paq0kv">
                  <a
                    class="css-khrh60 css-wc1msa css-134pm3"
                    routerLink="/"
                    target="_self"
                    ><div class="css-phc9f9 css-trglf0 css-trglf0 css-r0azwh">
                      <img
                        alt=""
                        loading="lazy"
                        class="css-trglf0 css-js0xyv"
                        src="https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png       1655w,
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png?w=322  322w,
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png?w=643  643w
                        "
                        sizes="auto,251.33215623111008px"
                      /></div
                  ></a>
                  <div class="css-7xhp8u css-nertwn css-paq0kv">
                    <a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://x.com/takecaribphotos"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/b2074916c4b3fb08fdb1513db29f423f555a529e.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.facebook.com/caribbeanphotocontest"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/6cfbca3ae939308c21eba8d2209aba2c9cadf9c1.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.instagram.com/caribbean_photo_contest/"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/0eaea1a58213f48531e1a039ce697ef09366ec89.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.youtube.com/@CaribbeanPhotoContest"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/8bb5dbe313965b16558257ea276738547f01e5b3.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                    /></a>
                  </div>
                </div>
                <div class="css-pr5rfd css-paq0kv">
                  <p class="css-nf5ac4 css-2rawmj css-szvueg textContents">
                    Capture Initiatives
                  </p>
                  <div class="css-eyahki css-paq0kv">
                    <a
                      class="css-95o4tl css-wc1msa css-134pm3"
                      href="https://capturecaribbean.com/sweepstakes/"
                      target="_blank"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/8900c5d18e067586af321516f023c735f5f2fc73.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-3zz5a0 css-wc1msa css-134pm3"
                      href="https://capturecaribbean.com/contests/"
                      target="_blank"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/782bc67995f21e42c44ea577c99e43b41ad4bd3a.png"
                        alt=""
                        width="65.021"
                        height="52.601"
                        class="css-tzn6qh css-ez8men"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/782bc67995f21e42c44ea577c99e43b41ad4bd3a.png 66w
                        "
                        sizes="auto,65.02027702331543px" /></a
                    ><a
                      class="css-q7nfxi css-wc1msa css-134pm3"
                      href="https://capturecaribbean.figma.site/caribbean-connection"
                      target="_blank"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/d806ac49b737d95371ac3477b7bbd266a5cde24c.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                    /></a>
                  </div>
                </div>
                <div class="css-dczajm css-paq0kv">
                  <div class="css-h5oqay css-3vj1k">
                    <div class="css-8byg4f css-paq0kv">
                      <a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/saint-lucia"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          The Capture Saint Lucia™ Invitational
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/residency"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          Artist in Residency Program
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/exhibition"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          The Saint Lucia Exhibition
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/global-tour"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">The Global Tour</p></a
                      >
                    </div>
                    <div class="css-8byg4f css-paq0kv">
                      <a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/about-us"
                        target="_blank"
                        ><p class="css-8zr56v css-4i1sn1">The Vision</p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/contact"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">Contact</p></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="css-ra9f2e css-djsg1y css-paq0kv">
                <div class="css-ogcvv7 css-wc1msa" data-isimage="true">
                  <div class="css-trglf0 css-3bt97v">
                    <img
                      loading="lazy"
                      src="https://capturecaribbean.figma.site/_assets/v11/8c2c2d78cc224bde5745ca949e3d8072c434b739.svg"
                      alt=""
                      class="css-8zr56v css-ez8men"
                    />
                  </div>
                </div>
                <div class="css-gzmw6b css-jvpnk3 css-paq0kv">
                  <p class="css-nf5ac4 css-ro9fcw css-e3tv12 textContents">
                    Capture Caribbean: Where the World Meets Caribbean
                    Creativity
                  </p>
                  <p class="css-nf5ac4 css-bv2n15 css-e3tv12 textContents">
                    © 2026 Capture Caribbean
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <noscript data-nosnippet="">
      <main
        style="
          height: 100vh;
          width: 100vw;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        "
      >
        <h1 style="font-size: 24px; padding: 8px; color: black">
          This site requires JavaScript
        </h1>
        <p style="font-size: 16px; padding: 8px; color: #00000080">
          To view this website, enable JavaScript in your browser settings and
          reload the page.
        </p>
        <form style="margin-top: 12px" action="">
          <button
            type="submit"
            style="
              font-size: 14px;
              color: black;
              border: 1px solid #0000001a;
              border-radius: 5px;
              width: 256px;
              height: 32px;
            "
          >
            Reload page
          </button>
        </form>
      </main>
    </noscript>
  

