<div id="container">
      <div
        class="css-oljopy css-50jkpj css-rn2hh9"
        data-page-overflowx="hidden"
        data-breakpoint-id="node-1_3400"
        data-breakpoint="true"
        data-width="1440"
        data-height="4136.57421875"
      >
        <div class="css-5zxl5r css-roiesn" data-isimage="true">
          <img
            loading="lazy"
            src="https://capturecaribbean.figma.site/_assets/v11/f0033cb1cb67e0e92850d5b8e77dbab5310fde13.svg"
            alt=""
            class="css-tzn6qh css-ez8men"
          />
        </div>
        <div class="css-ukkr20 css-v27th6 css-cuerbe">
          <div class="css-8fq6lu css-wc1msa css-v27th6" style="height: 100vh">
            <div aria-hidden="true" class="css-trglf0 css-r0azwh">
              <div class="css-phc9f9 css-trglf0">
                <img
                  alt=""
                  class="css-trglf0 css-g9k1ps"
                  src="https://capturecaribbean.figma.site/_assets/v11/8805d3e63de987a27653373a52540ccbb8b5020b.png"
                  srcset="https://capturecaribbean.figma.site/_assets/v11/8805d3e63de987a27653373a52540ccbb8b5020b.png 0w"
                  sizes="100vw"
                />
              </div>
              <div class="css-phc9f9 css-trglf0">
                <img
                  alt=""
                  class="css-trglf0 css-tewptv"
                  src="https://capturecaribbean.figma.site/_assets/v11/245f38c25cab0ccfdfe98428cc23b15fd41e6472.png"
                  srcset="https://capturecaribbean.figma.site/_assets/v11/245f38c25cab0ccfdfe98428cc23b15fd41e6472.png 0w"
                  sizes="100vw"
                />
              </div>
              <img
                alt=""
                class="css-ez8men css-qhd53h css-trglf0"
                src="https://capturecaribbean.figma.site/_assets/v11/f7091edab532b99dd188631057f46913c75e4305.png"
                srcset="
                  https://capturecaribbean.figma.site/_assets/v11/f7091edab532b99dd188631057f46913c75e4305.png        1235w,
                  https://capturecaribbean.figma.site/_assets/v11/f7091edab532b99dd188631057f46913c75e4305.png?w=512   512w,
                  https://capturecaribbean.figma.site/_assets/v11/f7091edab532b99dd188631057f46913c75e4305.png?w=1024 1024w
                "
                sizes="100vw"
              />
              <div class="css-5ctpoq css-trglf0 css-r0azwh"></div>
            </div>
          </div>
          <app-navbar />
          <div
            class="css-vxfvp6 css-sv0vw9 css-bnb0gr"
            style="transform: translateX(-50%) translateY(-50%)"
          >
            <div class="css-zfhukj css-paq0kv">
              <div class="css-3ftvts css-paq0kv">
                <div class="css-dczajm css-paq0kv">
                  <div class="css-3ftvts css-paq0kv">
                    <div class="css-927fw6 css-roiesn" data-isimage="true">
                      <img
                        src="https://capturecaribbean.figma.site/_assets/v11/cde5bdd9317f585cb876cf0a9e35cf1e86ec0b7e.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                      />
                    </div>
                    <div class="css-ydxjl1 css-wc1msa">
                      <p
                        class="css-tzn6qh css-sfn5du css-kkkt39 css-ueucp2 textContents"
                      >
                        TM
                      </p>
                    </div>
                    <div class="css-dczajm css-v27th6 css-paq0kv">
                      <p class="css-nf5ac4 css-lb0d0l css-9jtq1y textContents">
                        The Capture Vision
                      </p>
                    </div>
                  </div>
                </div>
                <p class="css-nf5ac4 css-4hz9sg css-9jtq1y textContents">
                  An Invitational Celebration of Saint Lucia's Spirit
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="css-pncnjq css-typp29 css-roiesn"
          style="transform: translateX(-50%); height: 100vh; width: 100vw"
        >
          <div
            class="css-bnxihm css-vxfvp6 css-56akgc"
            style="transform: translateX(-50%) translateY(-50%); margin-top: -25vh"
          >
            <p class="css-nf5ac4 css-8jitjv css-93r6ti textContents">
              Presented in Partnership
            </p>
            <div class="css-vj08gm css-wc1msa">
              <div class="css-phc9f9 css-trglf0 css-trglf0 css-r0azwh">
                <img
                  alt=""
                  loading="lazy"
                  class="css-trglf0 css-vljacy"
                  src="https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png"
                  srcset="
                    https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png        1920w,
                    https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png?w=513   513w,
                    https://capturecaribbean.figma.site/_assets/v11/b389f95373c6b10f212664fde6bf0ff9ebf533ea.png?w=1025 1025w
                  "
                  sizes="auto,369.00004398823324px"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="css-vuhhsd css-hxrp4x css-paq0kv">
          <div class="css-5knerd css-v27th6">
            <div class="css-gxdil1 css-1kkr58 css-j9f0op">
              <div class="css-vykoy5 css-paq0kv css-v27th6">
                <div class="css-dyuwb8 css-dczajm css-2gbjjk">
                  <div class="css-dczajm css-v27th6 css-paq0kv">
                    <div class="css-bdcjwj css-v27th6 css-paq0kv">
                      <p class="css-nf5ac4 css-a7a9bu css-87z1hn textContents">
                        About the Vision
                      </p>
                      <div class="css-bdcjwj css-v27th6 css-2gbjjk">
                        <p
                          class="css-wc1msa css-1h3yy0 css-6vp3ws textContents"
                        >
                          <span class="css-r7uvbe">More Than an Island — </span
                          ><span class="css-b8nnks css-xuf7pg"
                            >A Caribbean Vision</span
                          >
                        </p>
                        <p
                          class="css-nf5ac4 css-59rdls css-kvxdad css-uot4si textContents"
                        >
                          The Capture Saint Lucia Photo &amp; Video Contest is
                          an international visual arts competition designed to
                          celebrate the soul of Saint Lucia—its breathtaking
                          landscapes, rich culture, and captivating stories.
                          Open to both professional and amateur photographers
                          and filmmakers, this contest invites creatives from
                          around the world to showcase their artistry by
                          capturing the spirit, essence, and untold narratives
                          of this Caribbean gem through photography and
                          videography.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-z8tyjh css-paq0kv">
                  <div class="css-3h04gc css-wc1msa">
                    <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                      <img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/7f12ea1300756f144a0fb5daaf68dbfc01103a46.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/7f12ea1300756f144a0fb5daaf68dbfc01103a46.png 256w
                        "
                        sizes="auto,321.75px"
                      /><img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png       1500w,
                          https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png?w=512  512w
                        "
                        sizes="auto,321.75px"
                      />
                    </div>
                  </div>
                  <div class="css-thdnum css-wc1msa">
                    <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                      <img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png       1500w,
                          https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png?w=512  512w
                        "
                        sizes="auto,309.75px"
                      /><img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/802705362a221663877797566375422782454f26.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/802705362a221663877797566375422782454f26.png       1600w,
                          https://capturecaribbean.figma.site/_assets/v11/802705362a221663877797566375422782454f26.png?w=512  512w
                        "
                        sizes="auto,309.75px"
                      />
                    </div>
                  </div>
                  <div class="css-thdnum css-wc1msa">
                    <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                      <img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png       1500w,
                          https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png?w=512  512w
                        "
                        sizes="auto,309.75px"
                      /><img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/6b4942d005ff80b29e498248adfcedd420ab86a6.png"
                        srcset="https://capturecaribbean.figma.site/_assets/v11/6b4942d005ff80b29e498248adfcedd420ab86a6.png 0w"
                        sizes="auto,309.75px"
                      />
                    </div>
                  </div>
                  <div class="css-thdnum css-wc1msa">
                    <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                      <img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png       1500w,
                          https://capturecaribbean.figma.site/_assets/v11/243ef905a79ea9d91135448f9e95b6566c93f021.png?w=512  512w
                        "
                        sizes="auto,309.75px"
                      /><img
                        alt=""
                        loading="lazy"
                        class="css-ez8men css-qhd53h css-trglf0"
                        src="https://capturecaribbean.figma.site/_assets/v11/96d99b7656fa8c8360bc13e960f2385cc5fadade.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/96d99b7656fa8c8360bc13e960f2385cc5fadade.png       3840w,
                          https://capturecaribbean.figma.site/_assets/v11/96d99b7656fa8c8360bc13e960f2385cc5fadade.png?w=512  512w
                        "
                        sizes="auto,309.75px"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="css-5knerd css-v27th6">
            <div class="css-1kkr58 css-j9f0op">
              <div class="css-cff8ov css-paq0kv css-v27th6">
                <div class="css-zfhqws css-paq0kv">
                  <div class="css-bdcjwj css-paq0kv">
                    <p class="css-wc1msa css-72kw6x css-6vp3ws textContents">
                      <span class="css-r7uvbe">The Journey: </span
                      ><span class="css-vyh03w css-xuf7pg">2025–2032</span>
                    </p>
                    <p class="css-nf5ac4 css-kyxb0l css-uot4si textContents">
                      A multi-year path from invitation to global stage.
                    </p>
                  </div>
                  <div class="css-otjbs4 css-paq0kv">
                    <div class="css-5idbcs css-jvpnk3 css-paq0kv">
                      <div class="css-zfhtxa css-paq0kv">
                        <div class="css-u2sh78 css-wc1msa">
                          <img
                            alt=""
                            loading="lazy"
                            class="css-ez8men css-qhd53h css-trglf0 css-trglf0 css-r0azwh css-qhd53h"
                            src="https://capturecaribbean.figma.site/_assets/v11/577c2fa8fe8c5d9e59e305cbe1597bd968793dc0.png"
                            srcset="
                              https://capturecaribbean.figma.site/_assets/v11/577c2fa8fe8c5d9e59e305cbe1597bd968793dc0.png       1600w,
                              https://capturecaribbean.figma.site/_assets/v11/577c2fa8fe8c5d9e59e305cbe1597bd968793dc0.png?w=512  512w
                            "
                            sizes="auto,302.25px"
                          />
                        </div>
                        <div class="css-oqw3rp css-v27th6 css-paq0kv">
                          <p
                            class="css-nf5ac4 css-59rdls css-kg6uhx css-2e5s4a textContents"
                          >
                            Q4 2025 - Q4 2026: Invitations
                          </p>
                          <p
                            class="css-nf5ac4 css-ta2j2x css-di2k5d css-uot4si textContents"
                          >
                            Nominations and invitations are extended to a
                            curated list of creators ...
                          </p>
                        </div>
                      </div>
                      <div class="css-zfhtxa css-paq0kv">
                        <div class="css-u2sh78 css-wc1msa">
                          <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                            <img
                              alt=""
                              loading="lazy"
                              class="css-ez8men css-qhd53h css-trglf0"
                              src="https://capturecaribbean.figma.site/_assets/v11/577c2fa8fe8c5d9e59e305cbe1597bd968793dc0.png"
                              srcset="
                                https://capturecaribbean.figma.site/_assets/v11/577c2fa8fe8c5d9e59e305cbe1597bd968793dc0.png       1600w,
                                https://capturecaribbean.figma.site/_assets/v11/577c2fa8fe8c5d9e59e305cbe1597bd968793dc0.png?w=512  512w
                              "
                              sizes="auto,302.25px"
                            /><img
                              alt=""
                              loading="lazy"
                              class="css-ez8men css-qhd53h css-trglf0"
                              src="https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png"
                              srcset="
                                https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png       1500w,
                                https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png?w=512  512w
                              "
                              sizes="auto,302.25px"
                            />
                          </div>
                        </div>
                        <div class="css-oqw3rp css-v27th6 css-paq0kv">
                          <p
                            class="css-nf5ac4 css-59rdls css-kg6uhx css-2e5s4a textContents"
                          >
                            Jan 2027 - Dec 2029: Creation
                          </p>
                          <p
                            class="css-nf5ac4 css-ho45o1 css-di2k5d css-uot4si textContents"
                          >
                            Invited artists explore Saint Lucia during supported
                            residencies ...
                          </p>
                        </div>
                      </div>
                      <div class="css-zfhtxa css-paq0kv">
                        <div class="css-u2sh78 css-wc1msa">
                          <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                            <img
                              alt=""
                              loading="lazy"
                              class="css-ez8men css-qhd53h css-trglf0"
                              src="https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png"
                              srcset="
                                https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png       1500w,
                                https://capturecaribbean.figma.site/_assets/v11/3c34b46b308aa623adeafaf7c485d58a2c669452.png?w=512  512w
                              "
                              sizes="auto,302.25px"
                            /><img
                              alt=""
                              loading="lazy"
                              class="css-ez8men css-qhd53h css-trglf0"
                              src="https://capturecaribbean.figma.site/_assets/v11/40e773c8755ebb8991aa3e38f77cf8dcebd2c03f.png"
                              srcset="
                                https://capturecaribbean.figma.site/_assets/v11/40e773c8755ebb8991aa3e38f77cf8dcebd2c03f.png       4096w,
                                https://capturecaribbean.figma.site/_assets/v11/40e773c8755ebb8991aa3e38f77cf8dcebd2c03f.png?w=512  512w
                              "
                              sizes="auto,302.25px"
                            />
                          </div>
                        </div>
                        <div class="css-oqw3rp css-v27th6 css-paq0kv">
                          <p
                            class="css-nf5ac4 css-59rdls css-kg6uhx css-2e5s4a textContents"
                          >
                            Jan 2030 - Mar 2030: Submission
                          </p>
                          <p
                            class="css-nf5ac4 css-t6puk6 css-di2k5d css-uot4si textContents"
                          >
                            Artists submit their final curated portfolios for
                            review ...
                          </p>
                        </div>
                      </div>
                      <div class="css-nc9rp1 css-zfhtxa css-paq0kv">
                        <div class="css-u2sh78 css-wc1msa">
                          <div aria-hidden="true" class="css-trglf0 css-r0azwh">
                            <div class="css-phc9f9 css-trglf0">
                              <img
                                alt=""
                                loading="lazy"
                                class="css-trglf0 css-6uap33"
                                src="https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png"
                                srcset="
                                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png       4096w,
                                  https://capturecaribbean.figma.site/_assets/v11/64b3163e5718c45578019620e358f8478419d9bb.png?w=512  512w
                                "
                                sizes="auto,302.25px"
                              />
                            </div>
                            <div class="css-hf8lmr css-trglf0 css-r0azwh"></div>
                          </div>
                        </div>
                        <div class="css-oqw3rp css-v27th6 css-paq0kv">
                          <p
                            class="css-nf5ac4 css-59rdls css-kg6uhx css-2e5s4a textContents"
                          >
                            Q3 2030 - Q4 2032: Showcase
                          </p>
                          <p
                            class="css-nf5ac4 css-6g859m css-di2k5d css-uot4si textContents"
                          >
                            The premier exhibition opens in Saint Lucia,
                            followed by multi-city tour ...
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="css-jm9nns css-wc1msa">
                      <div
                        class="css-7d9u29 css-8hhw9a css-roiesn"
                        data-isimage="true"
                        style="transform: translateX(-50%)"
                      >
                        <div class="css-trglf0 css-zc9696">
                          <img
                            loading="lazy"
                            src="https://capturecaribbean.figma.site/_assets/v11/4ff9f1828dd565ccee111e954143e945cb7cf9cb.svg"
                            alt=""
                            class="css-8zr56v css-ez8men"
                          />
                        </div>
                      </div>
                      <div class="css-m8nu4 css-xzrpx5 css-8wdsqj"></div>
                      <div class="css-5jboda css-roiesn" data-isimage="true">
                        <img
                          loading="lazy"
                          src="https://capturecaribbean.figma.site/_assets/v11/54a0bd596506669bc7a1eaba64a4d40c834a81e9.svg"
                          alt=""
                          class="css-tzn6qh css-ez8men"
                        />
                      </div>
                      <div class="css-azmttt css-roiesn" data-isimage="true">
                        <img
                          loading="lazy"
                          src="https://capturecaribbean.figma.site/_assets/v11/1f0572f6b1da0b7389a890a0d56ce6ba3861fe9b.svg"
                          alt=""
                          class="css-tzn6qh css-ez8men"
                        />
                      </div>
                      <div
                        class="css-ijzfkl css-wmsav6 css-xxdyxc"
                        style="transform: translateX(-50%)"
                      >
                        <div class="css-r0zyj css-wc1msa css-v27th6">
                          <div class="css-bz2tic css-wut7ly">
                            <div
                              class="css-roiesn css-ae5qf"
                              data-isimage="true"
                            >
                              <div class="css-trglf0 css-4wn27">
                                <img
                                  loading="lazy"
                                  src="https://capturecaribbean.figma.site/_assets/v11/51f7bc3c379c7a645f56d81f320ca3037d2bdf13.svg"
                                  alt=""
                                  class="css-8zr56v css-ez8men"
                                />
                              </div>
                            </div>
                            <div
                              class="css-roiesn css-wut7ly"
                              data-isimage="true"
                            >
                              <div class="css-trglf0 css-iniaon">
                                <img
                                  loading="lazy"
                                  src="https://capturecaribbean.figma.site/_assets/v11/0544461ff37f2eb1717a10627664d555b29e4814.svg"
                                  alt=""
                                  class="css-8zr56v css-ez8men"
                                />
                              </div>
                            </div>
                            <div
                              class="css-roiesn css-i599nd"
                              data-isimage="true"
                            >
                              <div class="css-trglf0 css-wb99ad">
                                <img
                                  loading="lazy"
                                  src="https://capturecaribbean.figma.site/_assets/v11/58dcb148581d840dd51b14bf17dbf1360d7becdb.svg"
                                  alt=""
                                  class="css-8zr56v css-ez8men"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="css-xp518c css-8hhw9a css-roiesn"
                        data-isimage="true"
                        style="transform: translateX(-50%)"
                      >
                        <img
                          loading="lazy"
                          src="https://capturecaribbean.figma.site/_assets/v11/a467ddf18692c432c08763bb9a07c17fca634005.svg"
                          alt=""
                          class="css-tzn6qh css-ez8men"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="css-mzafbe css-zfhqyi css-paq0kv">
            <div class="css-zfhtsz css-paq0kv">
              <p
                class="css-i5dhxi css-wc1msa css-zde9d4 css-6vp3ws textContents"
              >
                <span class="css-4srw5j">Capture Saint Lucia </span
                ><span class="css-j52n5 css-xuf7pg">International Tour</span>
              </p>
              <p
                class="css-nf5ac4 css-59rdls css-bwgi78 css-uot4si textContents"
              >
                The works created through Capture Saint Lucia will not only
                debut on the island but will also travel to international
                cultural capitals. From New York to London, Paris to Toronto,
                this multi-city exhibition tour will introduce audiences
                worldwide to Saint Lucia’s stories, beauty, and creative
                excellence.
              </p>
            </div>
            <div class="css-rkn5y0 css-wc1msa css-gxdil1">
              <div class="css-1wyj9q css-roiesn">
                <img
                  alt=""
                  loading="lazy"
                  class="css-ez8men css-qhd53h css-trglf0 css-trglf0 css-r0azwh css-qhd53h"
                  src="https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png"
                  srcset="
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png        4096w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=1536 1536w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=2048 2048w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=2560 2560w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=3072 3072w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=3584 3584w,
                    https://capturecaribbean.figma.site/_assets/v11/9ba52fb38e720fd02da798d0fe4be5ffc4fd7593.png?w=4096 4096w
                  "
                  sizes="auto,1512px"
                />
              </div>
            </div>
          </div>
          <div class="css-dwyaap css-v27th6 css-fhjh2z">
            <div class="css-xxs0ka css-paq0kv">
              <p
                class="css-wc1msa css-59rdls css-zde9d4 css-6vp3ws textContents"
              >
                <span class="css-r7uvbe">Guided by </span
                ><span class="css-34iesg css-xuf7pg">Visionaries</span>
              </p>
              <div class="css-zfhscg css-paq0kv">
                <p
                  class="css-nf5ac4 css-59rdls css-ke54z0 css-4pkkr6 textContents"
                >
                  "Saint Lucia demands more than postcards—it wants truth."
                </p>
                <div class="css-22itc5 css-paq0kv">
                  <div class="css-yz2z5y css-paq0kv">
                    <div class="css-i5gr7j css-az206m css-paq0kv">
                      <div class="css-ox9wsj css-wc1msa">
                        <img
                          alt=""
                          loading="lazy"
                          class="css-ez8men css-qhd53h css-trglf0 css-trglf0 css-r0azwh css-qhd53h"
                          src="https://capturecaribbean.figma.site/_assets/v11/e07483dc9f84d3c27dbe85ef96e4b3208af7257a.png"
                          srcset="
                            https://capturecaribbean.figma.site/_assets/v11/e07483dc9f84d3c27dbe85ef96e4b3208af7257a.png       792w,
                            https://capturecaribbean.figma.site/_assets/v11/e07483dc9f84d3c27dbe85ef96e4b3208af7257a.png?h=512 406w
                          "
                          sizes="auto,312px"
                        />
                      </div>
                      <div class="css-crhnqz css-v27th6 css-paq0kv">
                        <p
                          class="css-nf5ac4 css-nnm6d8 css-6vp3ws textContents"
                        >
                          Jomo Kenyatta
                        </p>
                        <div class="css-f632k4 css-v27th6 css-paq0kv">
                          <p
                            class="css-nf5ac4 css-59rdls css-eenlam css-g08z43 textContents"
                          >
                            Founder, Capture Caribbean &amp; Curatorial Director
                          </p>
                          <p
                            class="css-nf5ac4 css-31x1tg css-wz1psi css-a25r7d adjustLetterSpacing textContents"
                          >
                            Visionary curator and storyteller behind the Capture
                            Caribbean Project. His lifelong dedication to
                            Caribbean arts and culture drives this ambitious
                            initiative.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="css-az206m css-paq0kv">
                      <div class="css-cnvdmg css-wc1msa">
                        <img
                          alt=""
                          loading="lazy"
                          class="css-ez8men css-b15bbk css-trglf0 css-trglf0 css-r0azwh css-b15bbk"
                          src="https://capturecaribbean.figma.site/_assets/v11/5a8f94d76b8bac13c2c882c81067ef3e28ad1b2d.png"
                          srcset="
                            https://capturecaribbean.figma.site/_assets/v11/5a8f94d76b8bac13c2c882c81067ef3e28ad1b2d.png       482w,
                            https://capturecaribbean.figma.site/_assets/v11/5a8f94d76b8bac13c2c882c81067ef3e28ad1b2d.png?h=512 410w
                          "
                          sizes="auto,315px"
                        />
                      </div>
                      <div class="css-crhnqz css-paq0kv">
                        <p
                          class="css-nf5ac4 css-nnm6d8 css-6vp3ws textContents"
                        >
                          Kirk Elliott
                        </p>
                        <div class="css-f632k4 css-v27th6 css-paq0kv">
                          <p
                            class="css-nf5ac4 css-59rdls css-eenlam css-g08z43 textContents"
                          >
                            Artistic Director in Residence
                          </p>
                          <p
                            class="css-nf5ac4 css-i5gqhp css-wz1psi css-a25r7d adjustLetterSpacing textContents"
                          >
                            An extraordinary artist whose work captures the
                            visual soul of the Caribbean. He mentors invited
                            creators and ensures the highest level of artistic
                            output throughout the residency.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="css-bz2tic css-car91n">
              <p
                class="css-tzn6qh css-cezkix css-slpm1d css-8ix5w1 textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-azaw15 css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-9jm7jd css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-nhlmqo css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-m1wy8w css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-km89r4 css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-j6jl9c css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-q8gsxk css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-oss4fs css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-nd3fy0 css-slpm1d css-qm01b1 textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-lxerg8 css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-ajs0od css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-xq16tt css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-z5pvbl css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-yfpi5r css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-x00tnz css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-lme2w4 css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-2a4xt3 css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-ug9bb css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-l8f6h css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-20x3o9 css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
              <p
                class="css-tzn6qh css-dejug4 css-slpm1d css-yd3m8x textContents"
              >
                +
              </p>
            </div>
          </div>
        </div>
        <div class="css-5knerd css-v27th6 css-sfem9u">
          <div class="css-gxdil1 css-e1d1o2 css-j9f0op">
            <div class="css-p70z91 css-paq0kv css-v27th6">
              <div class="css-ra9f2e css-jvpnk3 css-paq0kv">
                <div class="css-49kvq1 css-paq0kv">
                  <a
                    class="css-khrh60 css-wc1msa css-134pm3"
                    routerLink="/"
                    target="_self"
                    ><div class="css-phc9f9 css-trglf0 css-trglf0 css-r0azwh">
                      <img
                        alt=""
                        loading="lazy"
                        class="css-trglf0 css-js0xyv"
                        src="https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png       1655w,
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png?w=322  322w,
                          https://capturecaribbean.figma.site/_assets/v11/4e15e14d4fa44a8fb814bd0e24df338980d991cc.png?w=643  643w
                        "
                        sizes="auto,251.33215623111008px"
                      /></div
                  ></a>
                  <div class="css-7xhp8u css-nertwn css-paq0kv">
                    <a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://x.com/takecaribphotos"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/b2074916c4b3fb08fdb1513db29f423f555a529e.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.facebook.com/caribbeanphotocontest"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/6cfbca3ae939308c21eba8d2209aba2c9cadf9c1.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.instagram.com/caribbean_photo_contest/"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/914c9e68c89e91e97e44705afe83598089682c14.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-456nzv css-wc1msa css-134pm3"
                      href="https://www.youtube.com/@CaribbeanPhotoContest"
                      target="_self"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/8bb5dbe313965b16558257ea276738547f01e5b3.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                    /></a>
                  </div>
                </div>
                <div class="css-pr5rfd css-paq0kv">
                  <p class="css-nf5ac4 css-2rawmj css-szvueg textContents">
                    Capture Initiatives
                  </p>
                  <div class="css-eyahki css-paq0kv">
                    <a
                      class="css-95o4tl css-wc1msa css-134pm3"
                      href="https://capturecaribbean.com/sweepstakes/"
                      target="_blank"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/a09c292d8df41590b68575ee1c83dd84ed673f43.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men" /></a
                    ><a
                      class="css-3zz5a0 css-wc1msa css-134pm3"
                      href="https://capturecaribbean.com/contests/"
                      target="_blank"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/782bc67995f21e42c44ea577c99e43b41ad4bd3a.png"
                        alt=""
                        width="65.021"
                        height="52.601"
                        class="css-tzn6qh css-ez8men"
                        srcset="
                          https://capturecaribbean.figma.site/_assets/v11/782bc67995f21e42c44ea577c99e43b41ad4bd3a.png 66w
                        "
                        sizes="auto,65.02027702331543px" /></a
                    ><a
                      class="css-q7nfxi css-wc1msa css-134pm3"
                      href="https://capturecaribbean.figma.site/caribbean-connection"
                      target="_blank"
                      data-isimage="true"
                      ><img
                        loading="lazy"
                        src="https://capturecaribbean.figma.site/_assets/v11/c1f905b2220b94e506a75024168eaad79cee0364.svg"
                        alt=""
                        class="css-tzn6qh css-ez8men"
                    /></a>
                  </div>
                </div>
                <div class="css-dczajm css-paq0kv">
                  <div class="css-h5oqay css-3vj1k">
                    <div class="css-8byg4f css-paq0kv">
                      <a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/saint-lucia"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          The Capture Saint Lucia™ Invitational
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/residency"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          Artist in Residency Program
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/exhibition"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">
                          The Saint Lucia Exhibition
                        </p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/global-tour"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">The Global Tour</p></a
                      >
                    </div>
                    <div class="css-8byg4f css-paq0kv">
                      <a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/about-us"
                        target="_blank"
                        ><p class="css-8zr56v css-4i1sn1">The Vision</p></a
                      ><a
                        class="textContents css-wc1msa css-q6rpi1 css-c93nhn"
                        routerLink="/contact"
                        target="_self"
                        ><p class="css-8zr56v css-4i1sn1">Contact</p></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="css-ra9f2e css-djsg1y css-paq0kv">
                <div class="css-ogcvv7 css-wc1msa" data-isimage="true">
                  <div class="css-trglf0 css-3bt97v">
                    <img
                      loading="lazy"
                      src="https://capturecaribbean.figma.site/_assets/v11/8c2c2d78cc224bde5745ca949e3d8072c434b739.svg"
                      alt=""
                      class="css-8zr56v css-ez8men"
                    />
                  </div>
                </div>
                <div class="css-gzmw6b css-jvpnk3 css-paq0kv">
                  <p class="css-nf5ac4 css-ro9fcw css-e3tv12 textContents">
                    Capture Caribbean: Where the World Meets Caribbean
                    Creativity
                  </p>
                  <p class="css-nf5ac4 css-bv2n15 css-e3tv12 textContents">
                    © 2026 Capture Caribbean
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <noscript data-nosnippet="">
      <main
        style="
          height: 100vh;
          width: 100vw;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        "
      >
        <h1 style="font-size: 24px; padding: 8px; color: black">
          This site requires JavaScript
        </h1>
        <p style="font-size: 16px; padding: 8px; color: #00000080">
          To view this website, enable JavaScript in your browser settings and
          reload the page.
        </p>
        <form style="margin-top: 12px" action="">
          <button
            type="submit"
            style="
              font-size: 14px;
              color: black;
              border: 1px solid #0000001a;
              border-radius: 5px;
              width: 256px;
              height: 32px;
            "
          >
            Reload page
          </button>
        </form>
      </main>
    </noscript>


